@import '../colors';
@import '../mixins';

button{
  font-size: 12px;
  padding: 3px 5px;
  cursor: pointer;
  outline: 0;
  position: relative;
  @include transition(all ease .2s);
  &.btn{
    &__default{
      @include button($pearl, $dark-grey, $sea-color, $sea-color, $dark-grey);
      &--dark{
        @include button($pearl, $dark-grey, $sea-color, false, $sea-color);
      }
      &--active{
        @include button($pearl, $sea-color, false, false, $dark-grey)
      }
    }
    &__submit{
      @include button($pearl, $submit, false, $dark-grey);
      &--light{
        @include button($pearl, $submit, false, $pearl);
      }
    }
    &__delete{
      @include button($pearl, $death_knight);
    }
    &__update{
      @include button($pearl, $submit);
    }
    &__success{
      @include button($pearl, $dark-green, false, $dark-grey);
    }
    &__failure{
      @include button($pearl, $death_knight);
    }
    &__import{
      @include button($pearl, $purple)
    }
    &__darkBorder{
      border-color: $dark-grey;
    }
  }
  &:disabled{
    background: #dedbd5;
    color: $light-grey;
    border: 1px solid $dark-grey;
    outline: 0;
    cursor: not-allowed;
    &:hover{
      background: rgba(#dedbd5, .8);
    }
  }
}