@import '../mixins';
@import '../colors';

.deckSnippet-wrapper{
  display: grid;
  grid-row-gap: 1vh;
  grid-template-rows: repeat(2, calc(50% - 5px));
  grid-template-columns: repeat(5, calc(20% - .8vh));
  grid-column-gap: 1vh;
}

.deckSnippet {
  @include box-shadow(0, 0, 10px, rgba(black, .3));
  @include transition(all ease .4s);
  position: relative;
  background-color: $pearl;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover{
    @include box-shadow(0, 0, 10px, $dark-grey);
    cursor: pointer;
  }
  .background-icon {
    position: absolute;
    font-size: calc(6em);
    justify-content: center;
    opacity: 0.15;
    display: flex;
    height: calc(100% - 2vh);
    width: calc(100% - 2vh);
    align-items: center;
  }
  &__header{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid $dark-grey;
    align-items: center;
    &--playerClass {
      display: flex;
      height: 100%;
      padding: 5px;
      border: 1px solid black;
      svg {
        font-size: xx-large !important;
        padding: 5px;
        border: 1px solid black;
      }
    }
    &--about{
      overflow: hidden;
      margin-left: 5px;
      &-title{
        font-weight: bold;
        font-size: 16px;
        @include truncate(100%);
      }
      &-author,
      &-created{
        font-size:12px;
        @include truncate(100%);
      }
    }
  }
  &__body{
    margin-top: 5px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &--header{
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-transform: capitalize;
      &-mode {
        width: 10%;
        text-align: center;
        span {
          color: darkgreen;
          font-size: 25px;
        }
        p{
          margin-left: 5px ;
        }
      }

      &-type{
        height: 20px;
        line-height: 20px;
        @include truncate(100%);
      }
    }
    &--body{
      margin-top: 10px;
      display: flex;
      justify-content: center;
      div{
        text-align: left;
        padding: 0 5px;
        &:first-child{
          padding-left:0;
        }
        &:last-child{
          padding-right:0;
          border-right:0;
        }
        span{
          font-size: 16px;
        }
      }
    }
    &--footer{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .wrapper{
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
      }
      div{
        align-items: center;
        display: flex;
        opacity: .7;
        span{
          font-size: 16px;
          margin-right: 5px;
        }
      }
      &-views{
        display: flex;
        p{
          padding:0;
          margin: 0;
        }
      }
      &-comments{
        justify-content:center;
      }
      &-votes{
        justify-content: flex-end;
        color: $dark-green;
        flex-grow: 2;
      }
    }
  }
}

@include screen('tablet'){
  .deckSnippet{
    .deckSnippet__body--header{
      display: flex;
      width: inherit;
      flex-direction: column;
      text-align: center;
      &-type{
        margin-bottom: 3px;
      }
    }
  }
}
