@import '../colors';
@import '../mixins/loader';

.loading-wrapper{
  display: flex;
  align-items: center;
  justify-content:center;
  height:100%;
  &.dark{
    .sk-folding-cube .sk-cube:before{
      background-color: $sea-color;
    }
  }
  &.light{
    .sk-folding-cube .sk-cube:before{
      background-color: $pearl;
    }
  }
  .sk-folding-cube {
    //margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
    }
    .sk-cube2 {
      @include transformScale(90, .3);
    }
    .sk-cube3 {
      @include transformScale(180, .6);
    }
    .sk-cube4 {
      @include transformScale(270, .9);
    }
  }
}

@-webkit-keyframes sk-foldCubeAngle {
  @include keyframes();
}

@keyframes sk-foldCubeAngle {
  @include keyframes();
}