svg#logo{
  //.outer{
  //  opacity: 0;
  //}
  &:hover{
    animation: initOpacity .4s linear;
    .circle{
      animation: opacity 2s linear;
      animation-delay: .4s;
    }
    .circle1{
      animation: opacity 1s linear;
      animation-delay: .4s;
    }
    .circle2{
      animation: opacity 4s linear;
      animation-delay: .4s;
    }
    .line{
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards;
      animation-delay: 2.4s;
    }
  }
}

svg#preload{
  .circle{
    opacity: 0;
    animation: appPreloadOpacity 4s linear;
    animation-iteration-count: infinite;
  }
  .circle1{
    opacity: 0;
    animation: appPreloadOpacity 3s linear;
    animation-iteration-count: infinite;
  }
  .circle2{
    opacity: 0;
    animation: appPreloadOpacity 8s linear;
    animation-iteration-count: infinite;
  }
  .line{
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: dash 6s linear none;
    animation-iteration-count: infinite;
  }
}

@keyframes appPreloadOpacity {
  0% { opacity: 0; }
  50% {opacity: 1;}
  100% { opacity: 0; }
}

@keyframes initOpacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes dash {
  from { stroke-dashoffset: 1000;}
  to { stroke-dashoffset: 0;}
}