@import '../mixins';
@import '../colors';

.graph {
  text-align: center;
  display: inline-flex;
  align-self: center;
  height: 100%;
  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &:last-child{
      margin-right: 0;
    }
    .bar {
      height: 100%;
      background-color: $dark-grey;
      position: relative;
      span {
        @include transition(all ease .4s);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 5px #00000075;
        border: 1px solid black;
      }
    }
    .hs-icon {
      font-size: 1.2vw;
    }
  }
}