@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.create-deck-selection-mobile{
  grid-template-rows: 5.5vh 76.5vh !important;
  grid-row-gap: 1vh;

  .container__page--inner{
    grid-template-rows: inherit;
  }
}