@import '../../../../styles/_mixins.scss';

@include screen('laptop') {
  nav {
    ul {
      li {
        a {
          .nav__list--link {

            > span {
              font-size: calc(1em + 2vmin) !important;
            }

            > div {
              font-size: calc(.3em + .7vmin) !important;
            }
          }
        }
      }
    }
  }
}


@include screen('tablet') {
  nav {
    .logo {
      font-size: calc(.5em + .2vmin);
    }

    &.nav__mobile {
      .nav__list--item {
        span {
          font-size: calc(1.5em + 2vmin);
        }

        div {
          font-size: calc(.4em + 1vmin) !important;
        }
      }
    }
  }
}



@include screen('mobile') {
  nav {
    .logo {
      font-size: calc(.5em + 1vmin);
    }

    &.nav__mobile {
      .nav__list--item {
        span {
          font-size: calc(2em + 3vmin);
        }
      }
    }
  }
}

