@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.nav__mobile {
  .nav__mobile--header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;

    li {
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(.8em + 1vmin);
        color: $pearl;
        text-transform: uppercase;
      }
    }
  }

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .nav__mobile--scrollWrapper{
    height: 100%;
    overflow: auto;
    @include slim-scrollbar();
  }

  .nav__mobile--pages {
    position: absolute;
    height: calc(100% - 15vh);
    z-index: 10;
    background: $dark-grey;
    width: 200px;
    border-top: 1px solid $sea-color;
    border-bottom: 1px solid $light-grey;
    display: grid;
    grid-template-rows: 20% 80%;
    box-shadow: 3px 0 5px 0 $dark-grey;


    .nav__list--item {
      cursor: pointer;

      a {
        padding: 10px;
        color: $pearl;
        border-bottom: 1px dashed $light-grey;
        @include transition(all ease .4s);

        &:hover {
          background: $sea-color;
          border-bottom: 1px solid $sea-color;
        }

        &.active {
          background: #e7e2da;
          color: $dark-grey;
          border-bottom: 1px solid $dark-grey;

          &:hover{
            background: $pearl;
          }
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex-direction: row;

          div {
            margin-top: 0;
            display: flex;
            justify-content: flex-end;
            font-size: calc(.8em + 1vmin);
          }
        }
      }

      &.home {
        a {
          @include transition(all ease .4s);
          &:hover {
            background: $pearl;
            color: $dark-grey;
            border-bottom: 1px solid $dark-grey;
          }
        }
      }

      &:last-child{
        a {
          border-bottom: 0;
        }
      }
    }

    .cards {
      height: initial;
    }
  }
}