@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

@include screen('mobile') {
  .container__selection {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;

    > div {
      height: 100%;
      width: 100%;
      font-size: calc(.8em + 1vmin);
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        display: grid;
        grid-template-rows: 20% 80%;
        grid-template-columns: 100%;
        align-items: center;
        justify-items: center;

        h4 {
          font-size: calc(.7em + 1vmin);
          color: $light-grey;
          display: flex;
          margin-bottom: 20px;
          justify-content: center;
          align-items: center;
          @include transition(all ease .4s);

          &.success {
            color: $monk;
          }

          span {
            border: 2px solid;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
          }
        }

        ul {
          &.mode-list, &.classes {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;

            li {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}

@include screen('tablet'){
  .container__selection {
    ul{
      &.mode-list {
        grid-template-columns: repeat(2, 10vw);
        grid-auto-rows: 10vw;
      }

      li{

        &.brawl {
          p {
            font-size: calc(.3em + 1vmin);
          }
        }

        span{
          font-size: calc(1em + 2vmin);
        }

        p{
          margin-top: 10px;
        }
      }
    }
  }
}