@import '../../colors';
@import 'icons';

@mixin buttonShadow($color){
  &:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    @include box-shadow(0, 0, 5px, $color);
    @include transition(all ease .4s);
  }
  &:hover {
    &:after{
      opacity: 1;
    }
  }
}

@mixin button($color, $background_color, $hover_color: false, $border_color: false, $border_hover_color: false){
  background: $background_color;
  color: $color;
  border: 1px solid;

  @if $border_color{
     border-color: $border_color;
  } @else {
    border-color: $color;
  }
  &:hover{
    @if $hover_color {
      color: $hover_color;
      @if $border_hover_color{
        border-color: $border_hover_color;
      } @else {
        border-color: $hover_color;
      }
    }
    @else {
      background: darken($background_color, 10%);
    }
  }
  @include transition(all ease .2);
  @include buttonShadow($background_color);
}



@mixin scrollbar($border_color, $thumb_color: $dark-grey, $track_color: $light-grey){
  &::-webkit-scrollbar{width: 13px;}
  &::-webkit-scrollbar-thumb{background-color: $thumb_color; border-radius: 0; border-left: 1px solid $border_color;}
  &::-webkit-scrollbar-thumb:hover{background-color: $thumb_color;}
  &::-webkit-scrollbar-track{background-color: $track_color; border-left: 1px solid $border_color;}
}

@mixin slim-scrollbar($thumb_color: $pearl){
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background-color: rgba($thumb_color, .2); border-radius: 4px}
  &::-webkit-scrollbar-thumb:hover{background-color: $pearl}
  &::-webkit-scrollbar-track{background-color: transparent}
}