@import '../../colors';
@import 'icons';

@mixin button($color, $background_color, $hover_color: false){
  background: $background_color;
  color: $color;
  border: 1px solid $color;
  @include transition(all ease .2);

  &:hover{
    @if $hover_color {
      color: $hover_color;
      border-color: $hover_color;
    }
    @else {
      background: darken($background_color, 10%);
    }
  }
}

@mixin scrollbar($border_color, $thumb_color: $dark-grey, $track_color: $light-grey){
  &::-webkit-scrollbar{width: 13px;}
  &::-webkit-scrollbar-thumb{background-color: $thumb_color; border-radius: 0; border-left: 1px solid $border_color;}
  &::-webkit-scrollbar-thumb:hover{background-color: $thumb_color;}
  &::-webkit-scrollbar-track{background-color: $track_color; border-left: 1px solid $border_color;}
}

@mixin slim-scrollbar($thumb_color: $pearl){
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background-color: rgba($thumb_color, .2); border-radius: 4px}
  &::-webkit-scrollbar-thumb:hover{background-color: $pearl}
  &::-webkit-scrollbar-track{background-color: transparent}
}