@import '../../styles/colors';

input[type=checkbox] {
  height: 0;
  font-size: 10px;
  visibility: hidden;
  margin-bottom: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

  &:after {
    content: " ";
    background-color: transparent;
    color: $light-grey;
    border: 1px solid $light-grey;
    width: 14px;
    height: 14px;
    padding: 2px;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:checked:after {
    content: '\2714';
    color: $pearl;
    border-color: $pearl;
  }
}