@import '../../../../../styles/colors';

.nav__mobile {
  .login {
    .nav__list--linkContainer {
      background: linear-gradient(135deg, $sea-color 0%, $dark-grey 100%);
      border-bottom: 0;

      &.active {
        background: linear-gradient(135deg, $sea-color 0%, $dark-grey 100%);

        &:hover {
          background: $pearl;
        }
      }

      .nav__list--link {
        height: 100%;

        .nav__list--imageWrapper {
          height: 100%;
          width: 50%;

          img {
            max-height: 100px;
            max-width: 100px;
            min-width: 50px;
            min-height: 50px;
          }
        }

        .nav__list--labelWrapper {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 100%;
          width: calc(50% - 10px);
          height: 100%;
          margin: 0 5px;

          .nav__list--aboutUser {
            height: 100%;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            p {
              margin-bottom: 4px;

              &.aboutUser__rank {
                color: $light-grey;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .nav__list--logout {
            border-bottom: 0;
            display: flex;
            justify-content: space-between;
            padding-top: 5px;

            span {
              font-size: calc(1em + 1vmin);
            }
          }
        }
      }
    }
  }
}