@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.create-deck {
  .container__page--right {
    position: relative;

    .topbar {

      .topbar__container {
        width: 100%;
        display: flex;

        ul {
          display: flex;
          align-items: center;
        }
      }

      .topbar__filters {
        align-items: center;
        display: flex;
        width: 100%;

        .topbar-right {

          span {
            color: $dark-grey;
            font-size: 1.5vw;
            cursor: pointer;
            margin-right: 1vh;
          }
        }
      }

      .topbar__deckDetails {

        .deck-length {
          display: flex;
          align-items: center;
          background: -moz-linear-gradient(left, rgba(208, 228, 247, 0) 0%, rgba(166, 158, 157, 1) 15%, rgba(71, 65, 67, 1) 50%, rgba(166, 158, 157, 1) 85%, rgba(135, 188, 234, 0) 100%);
          background: -webkit-linear-gradient(left, rgba(208, 228, 247, 0) 0%, rgba(166, 158, 157, 1) 15%, rgba(71, 65, 67, 1) 50%, rgba(166, 158, 157, 1) 85%, rgba(135, 188, 234, 0) 100%);
          background: linear-gradient(to right, rgba(208, 228, 247, 0) 0%, rgba(166, 158, 157, 1) 15%, rgba(71, 65, 67, 1) 50%, rgba(166, 158, 157, 1) 85%, rgba(135, 188, 234, 0) 100%);

          p {
            position: relative;
            left: calc(50% - 6vh);
            font-size: 3vh;
            color: $pearl;
            padding: 0 1vh;
          }
        }

        .topbar__deckDetails--options {
          justify-content: flex-end;

          li {
            cursor: pointer;

            &.active {
              span {
                background: $dark-grey;
                color: $pearl;
              }
            }
          }

          span {
            @include transition(all ease .4s);
            margin-right: 1vw;
            font-size: 2vh;
            padding: 1vh;

            &:hover {
              color: $pearl;
              background: $dark-grey;
            }
          }
        }

      }
    }

    .container__details--description {
      .section__body {
        background: $dark-grey;
        padding: 1vh;

        form {
          height:100%;

          .section__body--upperContainer {
            display: flex;
            padding-bottom: 1vh;

            .inner {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              width: 100%;

              label, input {
                color: $pearl;
                width: 50%;
              }
            }

            .inner__left {
              border: 1px solid $light-grey;

              padding: 1vh;

              .input-wrapper {
                display: flex;
                align-items: center;

                input {
                  margin-bottom: 0;
                }
              }

              .select-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }

            .inner__right {
              align-self: flex-start;
              display: flex;
              width: 100%;
              align-items: flex-end;

              button {
                padding: 7px;
              }
            }
          }
        }
      }
    }

    .search{
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: calc(100% - 2vh - 1px);
      left: 1vh;
      height: calc(100% - 6.5vh);
      background: rgba(0, 0, 0, .5);

      .search__wrapper{
        position: absolute;
        width: 300px;
        flex-direction: column;
        display: flex;
        left: 50%;
        height: 300px;
        transform: translate(-50%, -25%);
        top: 50%;

        input{
          height: 50px;
          margin-bottom: 10px;
          background: transparent;
          border-bottom: 1px solid $pearl;
          padding: 0 10px;
          font-size: 24px;
          color: $pearl;

          &::placeholder,
          &:placeholder-shown{
            color: $light-grey;
          }
        }

        ul{
          background: $dark-grey;
          color: $pearl;
          max-height: 200px;
          min-height: 28px;
          overflow: auto;
          border: 1px solid $pearl;
          @include scrollbar($pearl);

          li{
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom: 1px dashed $light-grey;
            color: $light-grey;
            font-size: 15px;
            @include transition(all ease .4s);

            p{
              margin-left: 10px;
            }

            span{
              font-size:inherit;
            }

            &:last-child{
              border-bottom:none;
            }

            &:hover{
              background: $white-010;
              color: $pearl;
            }
          }
        }
      }
    }
  }
}