@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';

.deck-details {
  display: flex;

  .deck-details-wrapper {
    margin-left: 2vh;
    display: flex;
    align-items: center;
    &:first-child {
      margin-left: 1vh;
    }
    span, p {
      margin-right: .5vh;
      &:last-child {
        margin-right: 0;
      }
    }
    span {
      font-size: 1vw;
    }
  }

  .stats{
    padding: 0 10px;
    flex-grow: 2;
    justify-content: center;
  }

  .votes {
    padding: 0 .5vh;
    p {
      &.pos {
        color: $monk;
      }
      &.neg {
        color: $death_knight;
      }
    }
  }

  .archetype {
    text-transform: capitalize;
    flex-grow: 2;
    justify-content: flex-start;

    p {
      padding: .5vh;
      text-align: center;
      @include box-shadow(0, 0, 10px, $dark-grey);

      &.loading {
        height: 100%;
        width: 100%;
        box-shadow: none;
        @include linearLoader();
      }
    }
  }
}