.input-filter-wrapper{
  text-transform: capitalize;
  font-weight:normal;
  padding: 0 10px;
  margin: 10px 0;
}
.ant-select {
  font-size:14px;
  .ant-select-selection {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
    border-bottom: 1px solid $dark-grey;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover, &:focus{
      border-color: $pearl;
      outline:none;
    }
    .ant-select-selection__rendered {
      margin-bottom:0;
      .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
        text-transform: capitalize;
      }
      ul {
        .ant-select-selection__choice {
          -webkit-border-radius:0;
          -moz-border-radius:0;
          border-radius:0;
          background-color: $light-grey;
          color: $pearl;
          border: 1px solid $pearl;
          span {
            color: $dark-grey;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.ant-select-dropdown{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background: $light-grey;
  color: $pearl;
  border:1px solid $pearl;
  ul{
    @include scrollbar();
    li{
      @include transition(all ease .4s);
      background: $dark-grey;
      color: $light-grey;
      border-bottom:1px dashed $light-grey;
      &:hover{
        background-color: $dark-grey;
        color: $pearl;
        border-bottom: 1px dashed$pearl;
      }
      &:last-child{
        border-bottom: 0;
        &:hover{
          border-bottom: 0;
        }
      }
    }
    .ant-select-dropdown-menu-item-selected,
    .ant-select-dropdown-menu-item-active,
    .ant-select-dropdown-menu-item-selected:hover{
      background: rgba(0, 0, 0, 0.4);
      color: $pearl;
      border-bottom:1px dashed $pearl;
    }
  }
}



.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:after,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover:after{
  color: $pearl;
}