@import 'colors';
/*
 *  Select
 */
.ant-select {
  font-size:14px;
  .ant-select-selection {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
    border-bottom: 1px solid $dark-grey;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover, &:focus{
      border-color: $pearl;
      outline:none;
    }
    .ant-select-selection__rendered {
      margin-bottom:0;
      .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
        text-transform: capitalize;
      }
      ul {
        .ant-select-selection__choice {
          -webkit-border-radius:0;
          -moz-border-radius:0;
          border-radius:0;
          background-color: $light-grey;
          color: $pearl;
          border: 1px solid $pearl;
          span {
            color: $dark-grey;
            font-size: 12px;
          }
        }
      }
    }
    .ant-select-selection__clear{
      background: $light-grey;
      color: $dark-grey;
    }
  }
}
/*
 *  Select dropdown
 */
.ant-select-dropdown{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background: $light-grey;
  color: $pearl;
  border:1px solid $pearl;
  ul{
    @include scrollbar($pearl);
    li{
      @include transition(all ease .4s);
      background: $dark-grey;
      color: $light-grey;
      border-bottom:1px dashed $light-grey;
      &:hover{
        background-color: $dark-grey;
        color: $pearl;
        border-bottom: 1px dashed$pearl;
      }
      &:last-child{
        border-bottom: 0;
        &:hover{
          border-bottom: 0;
        }
      }
    }
    .ant-select-dropdown-menu-item-selected,
    .ant-select-dropdown-menu-item-active,
    .ant-select-dropdown-menu-item-selected:hover{
      background: rgba(0, 0, 0, 0.4);
      color: $pearl;
      border-bottom:1px dashed $pearl;
    }
  }
}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:after,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover:after{
  color: $pearl;
}
.ant-slider-mark-text .ant-slider-mark-text-active{
  width: 35%;
  margin-left: -17.5%;
}
/*
 *  Slider
 */
.ant-slider{
  margin: 25px 10px 27px;
  border-radius: 0;
  border:0 solid $dark-grey;
  height:4px;
  .ant-slider-handle{
    border-color: $dark-grey;
    background: $pearl;
    margin-top:-7px;
  }
  .ant-slider-track{
    background: $dark-grey;
  }
  .ant-slider-dot{
    top: -3px;
    width: 6px;
    height: 6px;
    background: $light-grey;
  }
  .ant-slider-mark{
    top: 12px;
  }
  .ant-tooltip-open{
    padding: 0;
  }
  .ant-slider-dot-active{
    border-color: $pearl;
  }
}

.ant-tooltip{
  margin-top: 19px;
  .ant-tooltip-inner{
    padding: 2px 10px;
    min-height: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    .card-tooltip-wrapper {
      .card-details {
        height: 370px;
        margin-top: 10px;
        border-collapse: collapse;
        border-top: 1px solid $light-grey;
        border-left: 1px solid $light-grey;
        border-right: 1px solid $light-grey;
        tr {
          border-bottom: 1px dotted $light-grey;
          color: $sea-color;
          &:last-child {
            border: 0;
          }
          td {
            padding: 5px;
            &:first-child {
              color: $pearl;
              width: 25%;
            }
            &:last-child {
              padding-left: 5px;
            }
            img {
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              width: 90%;
            }
          }
        }
      }
      .button-wrapper{
        width: 100%;
        margin-bottom:10px;
        button{
          background: transparent;
          width: 50%;
          border-color: $light-grey;
          color: $light-grey;
          &.active{
            color: $pearl;
          }

          &:first-child{
            border-right:0;
          }
        }
      }
    }
  }

}