@import 'colors';
@import 'mixins';

/*
 *  Select
 */
.details-content{
  .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
    text-align: center;
  }
}
.ant-select {
  color: $pearl;
  font-size:14px;
  .ant-select-selection {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
    border-bottom: 1px solid $dark-grey;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .ant-select-selection--single{
      height:31px;
    }
    .ant-select-selection__rendered {
      margin-bottom:0;

      .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
        text-transform: capitalize;
      }
      ul {
        .ant-select-selection__choice {
          -webkit-border-radius:0;
          -moz-border-radius:0;
          border-radius:0;
          background-color: $light-grey;
          color: $pearl;
          border: 1px solid $pearl;
          span {
            color: $dark-grey;
            font-size: 12px;
          }
        }
      }
      .ant-select-selection-selected-value{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        .classes{
          display: none;
        }
        span{
          font-size: 2vh;
        }
      }
    }
    .ant-select-selection__clear{
      background: $light-grey;
      color: $dark-grey;
    }
  }
}
.select-wrapper{
  .ant-select{
    .ant-select-selection{
      border-bottom: 1px solid $light-grey;
      .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
        color: $light-grey;
        .ant-select-search__field__wrap{
          color: $sea-color;
        }
      }
    }
  }

}
/*
 *  Select dropdown
 */
.ant-select-dropdown{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background: $light-grey;
  color: $pearl;
  border:1px solid $pearl;
  ul{
    @include scrollbar($pearl);
    li{
      @include transition(all ease .4s);
      background: $dark-grey;
      color: $light-grey;
      border-bottom:1px dashed $light-grey;
      &:hover{
        background-color: rgba(black, .5);
        color: $pearl;
      }
      &:last-child{
        border-bottom: 0;
        &:hover{
          border-bottom: 0;
        }
      }
    }
    .classes-list{
      font-weight: normal;
      justify-content: space-between;
    }
    .region-list{
      justify-content: center;
    }
    .ant-select-dropdown-menu-item{
      display: flex;
      align-items: center;

      span{
        font-size: 2vh;
      }
    }

    .ant-select-dropdown-menu-item-selected,
    .ant-select-dropdown-menu-item-active,
    .ant-select-dropdown-menu-item-selected:hover{
      background-color: rgba($dark-grey, .4);
      color: $pearl;
      font-weight: normal;
    }
    .ant-select-dropdown-menu-item-group{
      border-bottom: 0;
      &:hover{
        border-bottom: 0;
      }
      .ant-select-dropdown-menu-item-group-title{
        background: $sea-color;
        color: $pearl;
      }
      .ant-select-dropdown-menu-item-group-list{
        .ant-select-dropdown-menu-item-selected,
        .ant-select-dropdown-menu-item:hover{
          background: rgba($light-grey, .2);
        }
      }
    }
  }
}

.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:after,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover:after{
  color: $pearl;
}

.ant-slider-mark-text .ant-slider-mark-text-active{
  width: 35%;
  margin-left: -17.5%;
}
/*
 *  Slider
 */
.ant-slider{
  margin: 25px 10px 27px;
  border-radius: 0;
  border:0 solid $dark-grey;
  height:4px;
  .ant-slider-handle{
    border-color: $dark-grey;
    background: $pearl;
    margin-top:-7px;
  }
  .ant-slider-track{
    background: $dark-grey;
  }
  .ant-slider-dot{
    top: -3px;
    width: 6px;
    height: 6px;
    background: $light-grey;
  }
  .ant-slider-mark{
    top: 12px;
  }
  .ant-tooltip-open{
    padding: 0;
  }
  .ant-slider-dot-active{
    border-color: $pearl;
  }
}

/*
 *  Tooltips
 */
.ant-tooltip{
  margin-top: 19px;
  .ant-tooltip-inner{
    padding: 2px 10px;
    min-height: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    .card-tooltip-wrapper {
      .card-details {
        height: 370px;
        margin-top: 10px;
        border-collapse: collapse;
        border-top: 1px solid $light-grey;
        border-left: 1px solid $light-grey;
        border-right: 1px solid $light-grey;
        tr {
          border-bottom: 1px dotted $light-grey;
          color: $sea-color;
          &:last-child {
            border: 0;
          }
          td {
            padding: 5px;
            &:first-child {
              color: $pearl;
              width: 25%;
            }
            &:last-child {
              padding-left: 5px;
            }
            img {
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              width: 90%;
            }
          }
        }
      }
      .button-wrapper{
        width: 100%;
        margin-bottom:10px;
        button{
          background: transparent;
          width: 50%;
          border-color: $light-grey;
          color: $light-grey;
          &.active{
            color: $pearl;
          }

          &:first-child{
            border-right:0;
          }
        }
      }
    }
  }

}

.form-tooltip{
  .ant-tooltip-content{

    .ant-tooltip-arrow{
      border-right-color: $pearl;
    }
    .ant-tooltip-inner{
      color: $light-grey;
      border: 1px solid $pearl;
      p{
        color: $pearl;
      }
      ul{
        li{
          display: flex;
          align-items: center;
          padding-top: 5px;
          p{
            color: $light-grey;
            font-size: 1vh;
          }
          i{
            margin-right: 3px;
            font-style: normal;
          }
        }
      }
    }
  }
}

/*
 * Popover
 */
.ant-popover{
  .ant-popover-content {
    .ant-popover-arrow {
      border-bottom-color: $pearl;
    }
    .ant-popover-inner {
      background-color: $dark-grey;
      border:1px solid $pearl;
      border-radius: 0;
      .ant-popover-title{
        color: $pearl;
        border-bottom-color: $light-grey;
      }
      .ant-popover-inner-content{
        .popover-save-img {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
.popover{
  .ant-popover-content {
    .ant-popover-inner {
      //@include striped-background(rgba($death_knight, .5), rgba(white, .4), false)
      .ant-popover-inner-content{
        .ant-popover-message{
          i{
            color: $druid;
          }
          div{
            color: $pearl;
          }
        }
        .ant-popover-buttons{
          display: flex;
          button{
            border-radius: 0;
            outline:0;
            border:1px solid $pearl;
            color: $pearl;
            background: transparent;
            &:hover{
              border-color: $sea-color;
              color: $sea-color;
              @include box-shadow(0, 0, 2px, $sea-color);
            }
            &.ant-btn-primary{
              background: $death_knight;
              color: $pearl;
              &:hover{
                background: darken($death_knight, 20%);
                box-shadow: none;
                border-color: $pearl;

              }
            }
          }
        }
      }
    }
  }
}

/*
 * Message
 */
.ant-message{
  span{
    .ant-message-notice{
      .ant-message-notice-content{
        border-radius: 0;
        border:1px solid $dark-grey;
        background: $pearl;
      }
    }
  }
}