//Font colors
$primary-font-color: #fff;

//Background colors
$dark-grey: #474143;
$light-grey: #A69E9D;
$pearl: #E7E2DA;
$sea-color: #00a99c;
$dark-green: #2e7d32;
$purple: #7b1fa2;
$black-075: rgba(0,0,0,0.75);
$black-050: rgba(0,0,0,0.50);
$black-020: rgba(0,0,0,0.20);
$black-010: rgba(0,0,0,0.10);
$white-010: rgba(225,255,255,.1);
$white-020: rgba(225,255,255,.2);
$odd-row: rgba(255,255,255,.6);
$even-row: rgba(255,255,255,.5);

//Social Media colors
$fb_logo: #fff;
$fb_background: #3b5998;
$twitter_logo: #55acee;
$twitter_background: #fff;
$yt_logo: #fff;
$yt_background: #bb0000;
$reddit_logo: #fff;
$reddit_background: #ff4006;
$battlenet_logo: #00c0f6;
$battlenet_background: #1e293f;
$twitch_logo: #fff;
$twitch_background: #6441a4;

//Class colors
$druid: #FF7D0A;
$hunter: #ABD473;
$mage: #69CCF0;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #9482C9;
$warrior: #C79C6E;
$death_knight: #C41F3B;
$monk: #00FF96;
$demon_hunter: #A330C9;

//Adventure colors
$loe: #14a9a1;
$bm: #fa5210;
$karazhan: #e2b4df;
$naxx: #b5de3f;

//Expansion colors
$tgt: #f00;
$gvg: #fae43f;
$wotog: #cc00ff;
$msog: #d2cac5;
$ungoro: #3d9e2c;
$kotft: #a5f2f3;
$kac: #ffd989;

//Rarity colors
$free: inherit;
$common: #fff;
$rare: blue;
$epic: purple;
$legendary: orange;

//Mode colors
$standard: #318e2f;
$wild: #695840;
$extensions: #fff;

//Mean Streets of Gadgetzan Family color
$family: #ecbf42;