//Font colors
$primary-font-color: #fff;

//Background colors
$dark-grey: #474143;
$light-grey: #A69E9D;
$pearl: #E7E2DA;
$sea-color: #00a99c;
$black-075: rgba(0,0,0,0.75);
$black-020: rgba(0,0,0,0.20);
$odd-row: rgba(255,255,255,.6);
$even-row: rgba(255,255,255,.5);

//Class colors
$druid: #FF7D0A;
$hunter: #ABD473;
$mage: #69CCF0;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #9482C9;
$warrior: #C79C6E;
$death_knight: #C41F3B;
$monk: #00FF96;
$demon_hunter: #A330C9;

//Adventure colors
$loe: #14a9a1;
$bm: #fa5210;
$karazhan: #e2b4df;
$naxx: #b5de3f;

//Expansion colors
$tgt: #f00;
$gvg: #fae43f;
$wotog: #cc00ff;
$msog: #d2cac5;

//Rarity colors
$free: inherit;
$common: #fff;
$rare: blue;
$epic: purple;
$legendary: orange;
