@import 'colors';
@import 'mixins';

.component{
  &.simplifiedUser{
    display: flex;
    .simplifiedUser__avatar{
      height: 50px;
      width: 50px;
      span{
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 39px;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .simplifiedUser__details{
      .simplifiedUser__details--username{ }
      .simplifiedUser__details--rank{
        div{
          display: flex;
          span{
            font-size: 12px;
          }
        }
      }
    }
  }
  &.deck-snippet {
    @include box-shadow(0, 0, 10px, rgba(black, .3));
    @include transition(all ease .4s);
    position: relative;
    background-color: $pearl;
    padding: 1vh;
    &:hover{
      @include box-shadow(0, 0, 10px, $dark-grey);
      cursor: pointer;
    }
    .background-icon {
      position: absolute;
      font-size: 8.125em;
      opacity: 0.15;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }
    .deck-snippet-header{
      padding-bottom: 4.5px;
      border-bottom: 1px solid $dark-grey;
      .deck-snippet-hs-class {
        span {
          font-size: 35px;
          position: relative;
          top: 5px;
          padding: 5px;
          border: 2px solid black;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
      }
      .deck-snippet-about{
        .deck-snippet-title{
          font-weight: bold;
          font-size: 16px;
          @include truncate(100%);
        }
        .deck-snippet-author, .deck-snippet-created{
          font-size:12px;
        }
      }
    }
    .deck-snippet-body{
      margin-top: 4.5px;
      height: calc(9.5vh - 10px);
      .deck-snippet-body-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .deck-snippet-mode {
          width: 10%;
          text-align: center;
          span {
            color: darkgreen;
            font-size: 25px;
          }
          p{
            margin-left: 5px ;
          }
        }
        .deck-snippet-mana-curve{
          display: flex;
          li{
            width: 4px;
            background-color: $dark-grey;
            height: 100%;
            margin-right: 2px;
            &:last-child{
              margin-right:0;
            }
          }
        }
        .deck-snippet-type{
          height: 20px;
          line-height: 20px;
        }
        .deck-snippet-type{
          width: 55%;
        }
      }
      .deck-snippet-body-body{
        margin-top: 10px;
        display: flex;
        div{
          text-align: left;
          padding: 0 5px;
          &:after{
            position: absolute;
            content: "\00b7";
            margin-left: 2.5px;
            color: $dark-grey;
          }
          &:first-child{
            padding-left:0;
          }
          &:last-child{
            padding-right:0;
            border-right:0;
            &:after{
              position: absolute;
              content: "";
            }
          }
          span{
            font-size: 16px;
          }
        }
      }
      .deck-snippet-body-footer{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        div{
          align-items: center;
          display: flex;
          opacity: .6;
          span{
            font-size: 16px;
            margin-right: 5px;
          }
        }
        .deck-snippet-views{
          display: flex;
          p{
            padding:0;
            margin: 0;
          }
        }
        .deck-snippet-comments{
          justify-content:center;
        }
        .deck-snippet-votes{
          justify-content: flex-end;

        }
      }
    }
  }
  &.btn{
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    @include transition(all ease .2s);
    @include box-shadow(0, 0, 5px, $dark-grey);
    &__default{
      @include button($pearl, $dark-grey, $sea-color);
    }
    &__delete{
      @include button($pearl, $death_knight);
    }
    &__update{
      @include button($pearl, $dark-green);
    }
  }
}