@import 'colors';
@import 'mixins';

.component{
  &.simplifiedUser{
    display: flex;
    .simplifiedUser__avatar{
      height: 50px;
      width: 50px;
      span{
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 39px;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .simplifiedUser__details{
      .simplifiedUser__details--username{ }
      .simplifiedUser__details--rank{
        div{
          display: flex;
          span{
            font-size: 12px;
          }
        }
      }
    }
  }

  //&.btn{
  //  font-size: 12px;
  //  cursor: pointer;
  //  outline: 0;
  //  @include transition(all ease .2s);
  //  @include box-shadow(0, 0, 5px, $dark-grey);
  //  &__default{
  //    @include button($pearl, $dark-grey, $sea-color);
  //  }
  //  &__delete{
  //    @include button($pearl, $death_knight);
  //  }
  //  &__update{
  //    @include button($pearl, $dark-green);
  //  }
  //}
}

input {
  &::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;
    background: linear-gradient(to bottom, transparent 45%, $sea-color 45%, $sea-color 55%,  transparent 55%),
    linear-gradient(to right, transparent 45%, $sea-color 45%, $sea-color 55%, transparent 55%);
    @include transition(all ease .4s);
    &:hover{
      background: linear-gradient(to bottom, transparent 45%, $pearl 45%, $pearl 55%,  transparent 55%),
      linear-gradient(to right, transparent 45%, $pearl 45%, $pearl 55%, transparent 55%);
    }
  }
}