@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
@font-face {
  font-family: 'Hearthstone';
  src:
          url('../containers/icons/Hearthstone.ttf') format('truetype'),
          url('../containers/icons/Hearthstone.woff') format('woff'),
          url('../containers/icons/Hearthstone.svg#Hearthstone') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Hearthstone' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e90a";
}
.icon-battlenet:before {
  content: "\e92e";
}
.icon-brawl:before {
  content: "\e930";
}
.icon-mana-7-plus:before {
  content: "\e92d";
}
.icon-dust:before {
  content: "\e92f";
}
.icon-rarity:before {
  content: "\e92a";
}
.icon-mana-10:before {
  content: "\e92b";
}
.icon-mana-0:before {
  content: "\e921";
}
.icon-mana-1:before {
  content: "\e922";
}
.icon-mana-2:before {
  content: "\e923";
}
.icon-mana-3:before {
  content: "\e924";
}
.icon-mana-4:before {
  content: "\e925";
}
.icon-mana-5:before {
  content: "\e926";
}
.icon-mana-6:before {
  content: "\e927";
}
.icon-mana-7:before {
  content: "\e928";
}
.icon-mana-8:before {
  content: "\e929";
}
.icon-mana-9:before {
  content: "\e92c";
}
.icon-the-grand-tournament:before {
  content: "\e900";
}
.icon-adventures:before {
  content: "\e901";
}
.icon-arena-picker:before {
  content: "\e902";
}
.icon-blackrock-mountain:before {
  content: "\e903";
}
.icon-card:before {
  content: "\e904";
}
.icon-create-deck:before {
  content: "\e905";
}
.icon-deck:before {
  content: "\e906";
}
.icon-druid:before {
  content: "\e907";
}
.icon-expansions:before {
  content: "\e908";
}
.icon-the-league-of-explorers:before {
  content: "\e909";
}
.icon-mean-streets-of-gadgetzan:before {
  content: "\e90b";
}
.icon-grimy-goons:before {
  content: "\e90c";
}
.icon-goblins-vs-gnomes:before {
  content: "\e90d";
}
.icon-hs_logo:before {
  content: "\e90e";
}
.icon-hunter:before {
  content: "\e90f";
}
.icon-kabal:before {
  content: "\e910";
}
.icon-one-night-at-karazhan:before {
  content: "\e911";
}
.icon-kraken:before {
  content: "\e912";
}
.icon-login:before {
  content: "\e913";
}
.icon-lotus:before {
  content: "\e914";
}
.icon-mage:before {
  content: "\e915";
}
.icon-curse-of-naxxramas:before {
  content: "\e916";
}
.icon-whispers-of-the-old-gods:before {
  content: "\e917";
}
.icon-paladin:before {
  content: "\e918";
}
.icon-priest:before {
  content: "\e919";
}
.icon-rogue:before {
  content: "\e91a";
}
.icon-shaman:before {
  content: "\e91b";
}
.icon-trophy:before {
  content: "\e91c";
}
.icon-twitch:before {
  content: "\e91d";
}
.icon-warlock:before {
  content: "\e91e";
}
.icon-warrior:before {
  content: "\e91f";
}
.icon-wild:before {
  content: "\e920";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
