@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
@font-face {
  font-family: 'hearthstone';
  src: url('../icons/hearthstone.ttf') format('truetype'),
       url('../icons/hearthstone.woff') format('woff'),
       url('../icons/hearthstone.svg#Hearthstone') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hearthstone' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-import:before {
  content: "\e9c5";
}
.icon-save:before {
  content: "\e9c7";
}
.icon-prestige-2:before {
  content: "\e93f";
}
.icon-prestige-3:before {
  content: "\e940";
}
.icon-prestige-1:before {
  content: "\e941";
}
.icon-prestige-4:before {
  content: "\e942";
}
.icon-prestige-5:before {
  content: "\e943";
}
.icon-prestige-6:before {
  content: "\e944";
}
.icon-prestige-7:before {
  content: "\e945";
}
.icon-prestige-8:before {
  content: "\e946";
}
.icon-help:before {
  content: "\e947";
}
.icon-hl-logo:before {
  content: "\e93c";
}
.icon-adventures:before {
  content: "\e915";
}
.icon-arena-picker:before {
  content: "\e900";
}
.icon-card:before {
  content: "\e918";
}
.icon-create-deck:before {
  content: "\e919";
}
.icon-deck:before {
  content: "\e91a";
}
.icon-expansions:before {
  content: "\e91c";
}
.icon-bubbles2:before {
  content: "\e91f";
}
.icon-hs-logo:before {
  content: "\e923";
}
.icon-login:before {
  content: "\e928";
}
.icon-trophy:before {
  content: "\e934";
}
.icon-twitch:before {
  content: "\e935";
}
.icon-druid:before {
  content: "\e91b";
}
.icon-hunter:before {
  content: "\e924";
}
.icon-mage:before {
  content: "\e92a";
}
.icon-paladin:before {
  content: "\e92e";
}
.icon-priest:before {
  content: "\e92f";
}
.icon-rogue:before {
  content: "\e931";
}
.icon-shaman:before {
  content: "\e932";
}
.icon-warlock:before {
  content: "\e936";
}
.icon-warrior:before {
  content: "\e939";
}
.icon-karazhan:before {
  content: "\e926";
}
.icon-kraken:before {
  content: "\e927";
}
.icon-knights-of-the-frozen-throne:before {
  content: "\e93e";
}
.icon-hall-of-fame:before {
  content: "\e93b";
}
.icon-journey-to-ungoro:before {
  content: "\e938";
}
.icon-mammoth:before {
  content: "\e913";
}
.icon-basic:before {
  content: "\e916";
}
.icon-blackrock-mountain:before {
  content: "\e917";
}
.icon-the-league-of-explorers:before {
  content: "\e91e";
}
.icon-mean-streets-of-gadgetzan:before {
  content: "\e920";
}
.icon-goblins-vs-gnomes:before {
  content: "\e922";
}
.icon-missions:before {
  content: "\e92b";
}
.icon-naxxramas:before {
  content: "\e92c";
}
.icon-whispers-of-the-old-gods:before {
  content: "\e92d";
}
.icon-the-grand-tournament:before {
  content: "\e933";
}
.icon-wild:before {
  content: "\e93a";
}
.icon-image:before {
  content: "\e90d";
}
.icon-quote:before {
  content: "\e977";
}
.icon-ordered-list:before {
  content: "\e9b9";
}
.icon-unordered-list:before {
  content: "\e9bb";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-list-item:before {
  content: "\ea56";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-mana-0:before {
  content: "\e904";
}
.icon-mana-1:before {
  content: "\e905";
}
.icon-mana-2:before {
  content: "\e906";
}
.icon-mana-3:before {
  content: "\e907";
}
.icon-mana-4:before {
  content: "\e908";
}
.icon-mana-5:before {
  content: "\e909";
}
.icon-mana-6:before {
  content: "\e90a";
}
.icon-mana-7:before {
  content: "\e90b";
}
.icon-mana-7-plus:before {
  content: "\e90c";
}
.icon-mana-8:before {
  content: "\e90e";
}
.icon-mana-9:before {
  content: "\e90f";
}
.icon-mana-9-plus:before {
  content: "\e910";
}
.icon-upload:before {
  content: "\e961";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-discord:before {
  content: "\e93d";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-copy:before {
  content: "\e937";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-promo:before {
  content: "\e9b4";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-minions:before {
  content: "\e91d";
}
.icon-battlenet:before {
  content: "\e901";
}
.icon-blizzardapp:before {
  content: "\e902";
}
.icon-grid:before {
  content: "\e903";
}
.icon-brawl:before {
  content: "\e911";
}
.icon-dust:before {
  content: "\e912";
}
.icon-reward:before {
  content: "\e914";
}
.icon-grimy-goons:before {
  content: "\e921";
}
.icon-kabal:before {
  content: "\e925";
}
.icon-jade-lotus:before {
  content: "\e929";
}
.icon-rarity:before {
  content: "\e930";
}
.icon-bubbles22:before {
  content: "\e96d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-logout:before {
  content: "\ea14";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-redirect:before {
  content: "\ea7e";
}