@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
@font-face {
  font-family: 'Hearthstone';
  src:
          url('../icons/Hearthstone.ttf?5jh10q') format('truetype'),
          url('../icons/Hearthstone.woff?5jh10q') format('woff'),
          url('../icons/Hearthstone.svg?5jh10q#Hearthstone') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Hearthstone' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-the-grand-tournament:before {
  content: "\e900";
}
.icon-adventures:before {
  content: "\e901";
}
.icon-arena-picker:before {
  content: "\e902";
}
.icon-blackrock-mountain:before {
  content: "\e903";
}
.icon-card:before {
  content: "\e904";
}
.icon-create-deck:before {
  content: "\e905";
}
.icon-deck:before {
  content: "\e906";
}
.icon-druid:before {
  content: "\e907";
}
.icon-expansions:before {
  content: "\e908";
}
.icon-the-league-of-explorers:before {
  content: "\e909";
}
.icon-forum:before {
  content: "\e90a";
}
.icon-mean-streets-of-gadgetzan:before {
  content: "\e90b";
}
.icon-grimy-goons:before {
  content: "\e90c";
}
.icon-goblins-vs-gnomes:before {
  content: "\e90d";
}
.icon-hs_logo:before {
  content: "\e90e";
}
.icon-hunter:before {
  content: "\e90f";
}
.icon-kabal:before {
  content: "\e910";
}
.icon-one-night-at-karazhan:before {
  content: "\e911";
}
.icon-kraken:before {
  content: "\e912";
}
.icon-login:before {
  content: "\e913";
}
.icon-lotus:before {
  content: "\e914";
}
.icon-mage:before {
  content: "\e915";
}
.icon-curse-of-naxxramas:before {
  content: "\e916";
}
.icon-whispers-of-the-old-gods:before {
  content: "\e917";
}
.icon-paladin:before {
  content: "\e918";
}
.icon-priest:before {
  content: "\e919";
}
.icon-rogue:before {
  content: "\e91a";
}
.icon-shaman:before {
  content: "\e91b";
}
.icon-trophy:before {
  content: "\e91c";
}
.icon-twitch:before {
  content: "\e91d";
}
.icon-warlock:before {
  content: "\e91e";
}
.icon-warrior:before {
  content: "\e91f";
}
.icon-wild:before {
  content: "\e920";
}

