@import 'mixins';

#container {
  display: grid;
  grid-template-rows: 10vh 83vh 5vh;
  grid-row-gap: 1vh;

  .container__index {
    .home__list {
      display: grid;
      grid-template-columns: repeat(4, 24.2vw);
      grid-template-rows: 42.5vh 39.5vh;
      grid-column-gap: 1vh;
      grid-row-gap: 1vh;
      margin: 0 1vh;
      .home__block.decks {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .home__block.arena-picker {
        grid-column-start: 4;
      }
      .home__block.expansions, .home__block.twitch {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }

  .container__page {
    display: grid;
    .container__page--inner {
      display: grid;
      grid-template-rows: 5.5vh auto;
    }
    .container__page--left{
      .sidebar__body{
        .icon-filter-wrapper{
          .sidebar-icons{
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-column-gap: 1vh;
            grid-auto-rows: 7vh;
          }
        }
        .container__mana-curve{
          display: grid;
          grid-template-rows: 3vh 18vh 3vh auto;
        }
      }
    }
    .container__page--right{
      .topbar__grid{
        display: grid;
        width: 100%;
        height:100%;
        div{
          height:100%;
          &:last-child{
            justify-content: flex-end;
          }
        }
        &.topbar__grid--2-1-1{
          grid-template-columns: 40vw 20vw 20vw;
        }
        &.topbar__grid--1-2-1{
          grid-template-columns: 20vw 40vw 20vw;
        }
      }
    }
    .content {
      .container__cards {
        display: grid;
        grid-template-columns: repeat(7, 11vw);
        grid-column-gap: .4vh;
         .loading-wrapper{
          grid-column-start: 4;
        }
      }
      .container__details {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 1vh));
        grid-column-gap: 1vh;
        height: 100%;

        &.post{
          .container__details--section{
            grid-template-rows: 6vh 71vh;
          }
        }
        .container__details--section {
          display: grid;
          grid-template-rows: 6vh 62.5vh 8vh;
        }
        .container__details--comments {
          &.editorActive{
            grid-template-rows: 6vh 50.5vh 20vh;
          }
          .section__body {
            .comment {
              display: grid;
              grid-template-columns: 20% auto;
              grid-column-gap: 1vh;
            }
          }
        }
      }
      form{
        display: grid;
        grid-template-rows: 20vh auto;
        grid-row-gap: 1vh;
        .section__body--upperContainer{
          display: grid;
          grid-template-columns: 60% 40%;

        }
      }
    }
    .container__class-selection {
      display: grid;
      grid-template-rows: 4vh auto;

      ul{
        display: grid;
        grid-template-columns: repeat(3, 10vw);
        grid-auto-rows: 10vw;
        grid-gap: 1vh;
      }
    }
  }
  .container__page--twoSided{
    grid-template-columns: 20vw auto;
  }
}


