//Classes
.druid{
  @include icon_color($druid);
}
.hunter{
  @include icon_color($hunter);
}
.mage{
  @include icon_color($mage);
}
.paladin{
  @include icon_color($paladin);
}
.priest{
  @include icon_color($priest);
}
.rogue{
  @include icon_color($rogue);
}
.shaman{
  @include icon_color($shaman);
}
.warlock{
  @include icon_color($warlock);
}
.warrior{
  @include icon_color($warrior);
}

.death-knight{
  @include icon_color($death_knight);
}

.monk{
  @include icon_color($monk);
}

.demon-hunter{
  @include icon_color($demon_hunter);
}

//Adventures
.naxxramas{
  @include icon_color($naxx);
}
.blackrock-mountain{
  @include icon_color($bm);
}
.the-league-of-explorers{
  @include icon_color($loe);
}
.karazhan{
  @include icon_color($karazhan);
}

//Expansions{
.goblins-vs-gnomes{
  @include icon_color($gvg);
}
.the-grand-tournament{
  @include icon_color($tgt);
}
.whispers-of-the-old-gods{
  @include icon_color($wotog);
}
.mean-streets-of-gadgetzan{
  @include icon_color($msog);
}
.journey-to-ungoro{
  @include icon_color($ungoro);
}

//Rarity
.common{
  @include icon_color($common);
}
.rare{
  @include icon_color($rare);
}
.epic{
  @include icon_color($epic);
}
.legendary{
  @include icon_color($legendary);
}


//Social Media
.facebook{
  @include social_media_icon_color($fb_logo, $fb_background);
}
.twitter{
  @include social_media_icon_color($twitter_logo, $twitter_background);
}
.youtube{
  @include social_media_icon_color($yt_logo, $yt_background);
}
.reddit{
  @include social_media_icon_color($reddit_logo, $reddit_background);
}
.battlenet{
  @include social_media_icon_color($battlenet_logo, $battlenet_background);
}
.twitch{
  @include social_media_icon_color($twitch_logo, $twitch_background);
}
.false.hearthstone, .false.default{
  @include social_media_icon_color($dark-grey, $black-020);
}