@import 'colors';
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin screen($size) {
  $desktop: "(min-width: 1600px)";
  $laptop: "(min-width: 1366px) and (max-width: 1600px)";
  $tablet: "(min-width: 768px) and (max-width: 1365px)";
  $mobile: "(max-width: 767px)";
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }
  @else if $size == laptop {
    @media only screen and #{$laptop} {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}


@mixin height-lineheight($height){
  line-height: $height;
  height: $height;
}

@mixin icon_color($color) {
  color: $color;
  span {
    border-color: $color;
  }
  &:hover {
    background-color: $color;
    color: $dark-grey;
    span {
      border-color: $dark-grey;
    }
  }
  &.active {
      background-color: $color;
      color: $dark-grey;
      border-color: $color;
  }
  &.active-on-hover{
    color: $dark-grey;
    &:hover{
      background-color: $color;
      color: $dark-grey;
      border: $dark-grey;
    }
  }
  &.icon-font-active {
      color: $dark-grey;
  }

  &.table-row{
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, .1);
      &:hover{
        background: $color;
      }
    }
  color: $dark-grey;
    &:hover{
      background-color: $color;
      color: $dark-grey;
      border: $dark-grey;
    }
  }

  &.blizzard-official{
    background-color: $color;
    color: #000;
  }

  &.gradient{
    background: -moz-linear-gradient(left,  rgba($color,.4) 0%, rgba(0,0,0,0) 10%);
    background: -webkit-linear-gradient(left,  rgba($color,.4) 0%,rgba(0,0,0,0) 10%);
    background: linear-gradient(to right,  rgba($color,.4) 0%,rgba(0,0,0,0) 10%);
    color: $dark-grey;
    background-attachment: fixed;
  }

}

@mixin social_media_icon_color($color, $background_color){
  @include transition(all ease .4s);
  &.active, &:hover{
    color: $color;
    background-color: $background_color;
    .domain{
      a {
        color: $color;
      }
    }
  }
}


@mixin scrollbar($border_color){
  &::-webkit-scrollbar{width: 13px;}
  &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0; border-left: 1px solid $border_color;}
  &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
  &::-webkit-scrollbar-track{background-color: $light-grey; border-left: 1px solid $border_color;}
}
