@import 'colors';
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin truncate($container-width){
  width: $container-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin screen($size) {
  $desktop: "(min-width: 1600px)";
  $laptop: "(min-width: 1366px) and (max-width: 1600px)";
  $tablet: "(min-width: 768px) and (max-width: 1365px)";
  $mobile: "(max-width: 767px)";
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }
  @else if $size == laptop {
    @media only screen and #{$laptop} {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

@mixin sign_up_first_step_progress_bar($color){
  li:first-child{
    border-color: $color;
    color: $color;
  }
  &:before{
    background: linear-gradient(90deg, $color 50%, $light-grey 50%);
  }
}

@mixin sign_up_second_step_progress_bar($color, $second-color, $distance){
  li:first-child{
    border-color: $color;
    color: $color;
  }
  li:last-child{
    border-color: $second-color;
    color: $second-color;
  }
  &:before{
    background: linear-gradient(90deg, $monk $distance, $second-color $distance);
  }
}


@mixin icon_color($color) {
  color: $color;
  span {
    border-color: $color;
  }
  &:hover {
    background-color: $color;
    color: $dark-grey;
    span {
      border-color: $dark-grey;
    }
  }
  &.active {
      background-color: $color;
      color: $dark-grey;
      border-color: $color;
  }
  &.active-without-background{
    color: $color !important;
    background-color: transparent;
  }
  &.active-shadow{
    color: $dark-grey;
    background: $color;
    @include transition(all ease .4s);
    &:hover{
      color: black;
      background: darken($color, 5%);
      @include box-shadow(0,0,10px, $color);
    }
  }
  &.active-on-hover{
    color: $dark-grey;
    &:hover{
      background-color: $color;
      color: $dark-grey;
      border: $dark-grey;
    }
  }
  &.icon-font-active {
      color: $dark-grey;
  }

  &.table-row{
    color: $dark-grey;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, .1);
      &:hover{
        background: $color;
      }
    }
    &:hover{
      background-color: $color;
      color: $dark-grey;
      border: $dark-grey;
    }
  }

  &.blizzard-official{
    background-color: $color;
    color: #000;
  }

  &.gradient{
    background: -moz-linear-gradient(left,  rgba($color,.4) 0%, rgba(0,0,0,0) 15%);
    background: -webkit-linear-gradient(left,  rgba($color,.4) 0%,rgba(0,0,0,0) 15%);
    background: linear-gradient(to right,  rgba($color,.4) 0%,rgba(0,0,0,0) 15%);
    color: black;
    background-attachment: fixed;
    border-left: 10px solid $color;
  }
}

@mixin social_media_icon_color($color, $background_color){
  @include transition(all ease .4s);
  &.active, &:hover{
    color: $color;
    background-color: $background_color;
    .domain{
      a {
        color: $color;
      }
    }
  }
}

@mixin button($color, $background_color, $hover_color: false){
  background: $background_color;
  color: $color;
  border: 1px solid $color;
  @include transition(all ease .2);
  &:hover{
    @if $hover_color {
      color: $hover_color;
      border-color: $hover_color;
    }
    @else {
      background: darken($background_color, 10%);
    }
  }
}

@mixin scrollbar($border_color){
  &::-webkit-scrollbar{width: 13px;}
  &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0; border-left: 1px solid $border_color;}
  &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
  &::-webkit-scrollbar-track{background-color: $light-grey; border-left: 1px solid $border_color;}
}

@mixin slim-scrollbar(){
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background-color: rgba(255,255,255, .2); border-radius: 4px}
  &::-webkit-scrollbar-thumb:hover{background-color: $pearl}
  &::-webkit-scrollbar-track{background-color: transparent}
}

@mixin striped-background($primary_color, $secondary_color, $angle: false){
  @if $angle {
    background: repeating-linear-gradient(
                    $angle,
                    $primary_color,
                    $primary_color 10px,
                    $secondary_color 10px,
                    $secondary_color 20px
    );
  }
  @else {
    background: repeating-linear-gradient(
                    -45deg,
                    $primary_color,
                    $primary_color 10px,
                    $secondary_color 10px,
                    $secondary_color 20px
    );
  }
}