@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin screen($size) {
  $desktop: "(min-width: 1600px)";
  $laptop: "(min-width: 1366px) and (max-width: 1600px)";
  $tablet: "(min-width: 768px) and (max-width: 1365px)";
  $mobile: "(max-width: 767px)";
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }
  @else if $size == laptop {
    @media only screen and #{$laptop} {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

@mixin height-lineheight($height){
  line-height: $height;
  height: $height;
}

@mixin icon_color($color) {
  color: $color;
  span {
    border-color: $color;
  }
  &:hover {
    background-color: $color;
    color: $dark-grey;
    span {
      border-color: $dark-grey;
    }
  }
  &.active {
      background-color: $color;
      color: $dark-grey;
      border-color: $color;
  }
  &.active-on-hover{
    color: $dark-grey;
    &:hover{
      background-color: $color;
      color: $dark-grey;
      border: $dark-grey;
    }
  }
  &.icon-font-active {
      color: $dark-grey;
  }

  &.table-row{
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, .1);
      &:hover{
        background: $color;
      }
    }
  color: $dark-grey;
    &:hover{
      background-color: $color;
      color: $dark-grey;
      border: $dark-grey;
    }
  }

  &.table-row-active{
    &:nth-child(odd) {
      background-color: $color;
      &:hover{
        background: $color;
      }
    }
  }

}

@mixin scrollbar{
  &::-webkit-scrollbar{width: 13px;}
  &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0;}
  &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
  &::-webkit-scrollbar-track{background-color: $light-grey;}
}
