@import "colors";
@import "mixins";

body{
  background: $pearl;
}

html, body, ol, ul, li, form, fieldset, legend, input, table{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

fieldset, img{
  border: 0;
}

ol, ul, li{
  list-style: none;
}

input{
  border: 0;
  outline: 0;
  font-size: 14px;
}

a{
  color: inherit;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  @include transition(none);

  &:active, &:hover, &:link, &:visited{
    color: inherit;
    text-decoration: none;
  }
}

.default-style{
  font-family: 'Arial', sans-serif;

  h1{
    font-size: calc(1em + 1vmin);
    margin: 0.67em 0;
  }
  h2{
    font-size: calc(.9em + 1vmin);
    margin: 0.83em 0;
  }
  h3{
    font-size: calc(.8em + 1vmin);
    margin: 1em 0;
  }
  h4{
    font-size: calc(.7em + 1vmin);
    margin: 1.33em 0;
  }
  h5{
    font-size: calc(.6em + 1vmin);
    margin: 1.67em 0;
  }
  h6{
    font-size: calc(.5em + 1vmin);
    margin: 2.33em 0;
  }
  p{
    margin: 10px 0;
  }
  ol, ul{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
    li{
      display: list-item;
      list-style-type: disc;
      margin: 3px 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  ol{
    li{
      list-style-type: decimal;
    }
  }
  a{
    &:link {
      color: #0000EE;
    }
    &:hover {
      text-decoration: underline
    }
    &:visited {
      color: #551A8B;
    }
  }
  &.blizzard_post {
    ol, li {
      list-style-type: square;
      li{
        list-style-type: square;
      }
    }
    a {
      color: #f8b700;
      &:hover {
        color: white;
        text-decoration: none;
      }
      &:visited {
        color: #f8b700;
      }
    }
  }
}

@include screen('mobile'){
  .default {
    h1{
      font-size: 1em;
      margin: 0.67em 0;
    }
    h2{
      font-size: .9em;
      margin: 0.83em 0;
    }
    h3{
      font-size: .8em;
      margin: 1em 0;
    }
    h4{
      font-size: .7em;
      margin: 1.33em 0;
    }
    h5{
      font-size: .6em;
      margin: 1.67em 0;
    }
    h6{
      font-size: .5em;
      margin: 2.33em 0;
    }
  }
}