@import "_colors";
body{
  background: $pearl;
}

html, body, ol, ul, li, form, fieldset, legend, input, table{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
}

h1 { font-size: 24px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}

fieldset, img{
  border: 0;
}

ol, ul, li{
  list-style: none;
}

input{
  border: 0;
  outline: 0;
  font-size: 14px;
}

a{
  &:active, &:hover, &:link, &:visited{
    color: inherit;
    text-decoration: none;
  }
}

.displayNone{
  display: none;
}
.displayInlineFlex{
  display: inline-flex;
}