@import '_colors';
@import '_mixins';

.default-style{
  font-family: 'Arial', sans-serif;

  h1{
    margin: 0.67em 0;
  }
  h2{
    margin: 0.83em 0;
  }
  h3{
    margin: 1em 0;
  }
  h4{
    margin: 1.33em 0;
  }
  h5{
    margin: 1.67em 0;
  }
  h6{
    margin: 2.33em 0;
  }
  p{
    margin: 10px 0;
  }
  ol, ul{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
    li{
      display: list-item;
      list-style-type: disc;
      margin: 3px 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  ol{
    li{
      list-style-type: decimal;
    }
  }
  a{
    &:link {
      color: #0000EE;
    }
    &:hover {
      text-decoration: underline
    }
    &:visited {
      color: #551A8B;
    }
  }
  &.blizzard_post {
    ol, li {
      list-style-type: square;
      li{
        list-style-type: square;
      }
    }
    a {
      color: #f8b700;
      &:hover {
        color: white;
        text-decoration: none;
      }
      &:visited {
        color: #f8b700;
      }
    }
  }
}

.blizzard_post {
  color: #00c0f6;
  background-color: #1e293f;
  div{
    padding: 10px;
  }
  strong{
    color: white;
  }
}

.list-with-filters-layout{
  .left-container {
    ul {
      li {
        @include transition(all ease .4s);
        display: inline-block;
        color: $dark-grey;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-family: 'Hearthstone';
          font-size: 41px;
        }
      }
    }
  }
  .right-container {
    .topbar {
      .filters {
        justify-content: space-between;
        width: 100%;
        .create-deck {
          cursor: pointer;
        }
      }
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topbar-left, .topbar-right{
    width: 50%;
    display: flex;
    li {
      cursor: pointer;
      margin-right: .5vh;
      span {
        line-height: 5.5vh;
        @include transition(all ease .4s);
        color: $dark-grey;
      }
      .mana.active{
        color: navy;
      }
      &:first-child {
        margin-left: .5vh;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        div {
          display: block;
        }
      }
    }
  }
  .topbar-left {
    justify-content:flex-start;
  }
  .topbar-right {
    justify-content: flex-end;
    li{
      span{
        padding: .5vh;
      }
    }
  }
}

form {
  &.inline{
    .input-wrapper {
      label, input {
        display: flex;
        color: $pearl;
      }
    }
  }
  .input-wrapper {
    position: relative;
    label, input{
      display: block;
      color: $pearl;
    }
    input{
      @include transition(all ease .4s);
      margin-bottom: 2vh;
      padding: 5px;
      background: transparent;
      width: 60%;
      color: $sea-color;
      border-bottom: 1px solid $light-grey;
      &:focus {
        border-bottom: 1px solid $pearl;
      }
    }
    .tos {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      color: $light-grey;
      margin-bottom: 20px;
      input[type=checkbox] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 0;
        font-size: 10px;
        visibility: hidden;
        margin-bottom: 0;
        padding: 0;
        margin-right: 2px;
        &:after {
          content: " ";
          background-color: transparent;
          color: $light-grey;
          border: 1px solid $light-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          visibility: visible;
          margin-bottom: 5px;
          margin-left: 3px;
          padding: 3px 3px 4px 4px;
        }
        &:checked:after {
          content: '\2714';
          color: $pearl;
          border-color: $pearl;
        }
      }
      label {
        a {
          color: $pearl;
          text-decoration: underline;
        }
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .divider{
    width: inherit;
    text-align: center;
    color: $light-grey;
    position: relative;
    font-size: 12px;
    margin: 20px 0;
    span{
      position: relative;
      padding: 0 10px;
      background: $dark-grey;
    }
    &:before{
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: $light-grey;
    }
  }
}

.decklist-summary-icons {
  display: flex;
  align-items: center;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      display: flex;
      align-items: center;
      span {
        font-size: 2vh;
        cursor: pointer;
        padding: 5px;
        @include transition(all ease .4s);
      }
    }
  }
}

.post-more-options{
  display: flex;
  align-items:center;
  padding: 0 10px;
  cursor: pointer;
  .options{
    li{
      width: 3px;
      height: 3px;
      background: black;
      margin-bottom: 2px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}