@import '_colors';
@import '_mixins';

.blizzard_post {
  color: #00c0f6;
  background-color: #1e293f;
  div{
    padding: 10px;
  }
  strong{
    color: white;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topbar-left, .topbar-right{
    width: 50%;
    display: flex;
    li {
      cursor: pointer;
      margin-right: .5vh;
      span {
        line-height: 5.5vh;
        @include transition(all ease .4s);
        color: $dark-grey;
      }
      .mana.active{
        color: navy;
      }
      &:first-child {
        margin-left: .5vh;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        div {
          display: block;
        }
      }
    }
  }
  .topbar-left {
    justify-content:flex-start;
  }
  .topbar-right {
    justify-content: flex-end;
    li{
      span{
        padding: .5vh;

        &:hover{
          @include box-shadow(0, 0, 10px, $dark-grey);
        }
      }
    }
  }
}

.decklist-summary-icons {
  display: flex;
  align-items: center;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      display: flex;
      align-items: center;
      span {
        font-size: 2vh;
        cursor: pointer;
        padding: 5px;
        @include transition(all ease .4s);
      }
    }
  }
}



