@import '_colors';
@import '_mixins';
.deck-snippet{
  position: relative;
  background-color: $pearl;
  width: 37.4vh;
  padding: 1vh;
  margin-right: 1vh;
  &:last-child{
    margin-right:0;
  }
  .background-icon{
    position: absolute;
    font-size: 130px;
    opacity: 0.05;
    padding-left: 57%;
    padding-top: 8px;
  }
  .deck-snippet-header{
    display: flex;
    padding-bottom: 4.5px;
    border-bottom: 1px solid $dark-grey;
    .deck-snippet-hs-class {
      span {
        font-size: 35px;
        position: relative;
        top: 5px;
        padding: 5px;
        border: 2px solid black;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .deck-snippet-about{
      margin-left: 10px;
      .deck-snippet-title{
        font-weight: bold;
        font-size: 16px;
      }
      .deck-snippet-author, .deck-snippet-created{
        font-size:12px;
      }
    }
  }
  .deck-snippet-body{
    margin-top: 4.5px;
    height: calc(9.5vh - 10px);
    .deck-snippet-body-header{
      display: flex;
      .deck-snippet-mode {
        width: 10%;
        text-align: center;
        span {
          color: darkgreen;
          font-size: 25px;
        }
        p{
          margin-left: 5px ;
        }
      }
      .deck-snippet-dust-needed{
        display: flex;
        span{
          font-size:25px;
        }
      }
      .deck-snippet-mana-curve{
        width:14%;
        display: flex;
        li{
          width: 5px;
          background-color: $dark-grey;
          height: 100%;
          margin-right: 2px;
        }
      }
      .deck-snippet-type, .deck-snippet-dust-needed{
        height:27px;
        line-height: 27px;
      }
      .deck-snippet-type{
        width: 55%;
      }
      .deck-snippet-dust-needed{
        width: 21%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .deck-snippet-body-body{
      margin-top: 10px;
      display: flex;
      div{
        text-align: left;
        border-right: 1px solid $light-grey;
        padding: 0 5px;
        &:first-child{
          padding-left:0;
        }
        &:last-child{
          padding-right:0;
          border-right:0;
        }
      }
    }
    .deck-snippet-body-footer{
      margin-top:7px;
      display: flex;
      div{
        width: 33.33%;
        align-items: center;
        display: flex;
        span{
          font-size: 16px;
          margin-right: 5px;
        }
      }
      .deck-snippet-views{
        display: flex;
        opacity: .6;
        p{
          padding:0;
          margin: 0;
        }
      }
      .deck-snippet-comments{
        justify-content:center;
      }
      .deck-snippet-votes{
        justify-content: flex-end;

      }
    }
  }
}

.list-with-filters-layout{
  .left-container {
    ul {
      li {
        @include transition(all ease .4s);
        display: inline-block;
        color: $dark-grey;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-family: 'Hearthstone';
          font-size: 41px;
        }
      }
    }
  }
  .right-container {
    .topbar {
      .filters {
        justify-content: space-between;
        width: 100%;
        .create-deck {
          cursor: pointer;
        }
      }
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topbar-left, .topbar-right{
    width: 50%;
    display: flex;
    li {
      cursor: pointer;
      margin-right: .5vh;
      span {
        line-height: 5.5vh;
        @include transition(all ease .4s);
        color: $dark-grey;
      }
      .mana.active{
        color: navy;
      }
      &:first-child {
        margin-left: .5vh;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        div {
          display: block;
        }
      }
    }
  }
  .topbar-left {
    justify-content:flex-start;
  }
  .topbar-right {
    justify-content: flex-end;
    li{
      span{
        padding: .5vh;
      }
    }
  }
}



.btn-pearl{
    @include transition(all ease .4s);
    cursor: pointer;
    background: $dark-grey;
    border: 1px solid $pearl;
    color: $pearl;
    outline: 0;
    font-size: 1.2vh;
    padding: .3vh .5vh;
    &:hover{
      @include box-shadow(0, 0, 5px, $sea-color);
      background: $dark-grey;
      border-color: $sea-color;
      color: $sea-color;
    }
}

.btn-padding-small{
  padding: 1px 5px;
}

form {
  &.inline{
    .input-wrapper {
      label, input {
        display: flex;
        color: $pearl;
      }
    }
  }
  .input-wrapper {
    position: relative;
    label, input{
      display: block;
      color: $pearl;
    }
    input{
      @include transition(all ease .4s);
      margin-bottom: 2vh;
      padding: 5px;
      background: transparent;
      width: 60%;
      color: $sea-color;
      border-bottom: 1px solid $light-grey;
      &:focus {
        border-bottom: 1px solid $pearl;
      }
    }
    .tos {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      color: $light-grey;
      margin-bottom: 20px;
      input[type=checkbox] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 0;
        font-size: 10px;
        visibility: hidden;
        margin-bottom: 0;
        padding: 0;
        margin-right: 2px;
        &:after {
          content: " ";
          background-color: transparent;
          color: $light-grey;
          border: 1px solid $light-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          visibility: visible;
          margin-bottom: 5px;
          margin-left: 3px;
          padding: 3px 3px 4px 4px;
        }
        &:checked:after {
          content: '\2714';
          color: $pearl;
          border-color: $pearl;
        }
      }
      label {
        a {
          color: $pearl;
          text-decoration: underline;
        }
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: flex-start;
  }
}

.decklist-summary-icons{
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items:center;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        span {
          font-size: 2vh;
          cursor: pointer;
          padding: 5px;
          @include transition(all ease .4s);
        }
      }
    }
}


.text-editor{
  display: grid;
  background: $dark-grey;
  height: calc(100% - 2vh - 2px);
  grid-template-rows: 40px auto;
  border: 1px solid grey;
  padding: 1vh;
  .toolbar{
    display: flex;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 1vh;
    li{
      @include transition(all ease .4s);
      border: 1px solid $light-grey;
      margin-right: 5px;
      &:hover{
        border:1px solid $pearl;
        background: $white-020;
        button{
          span {
            color: $pearl;
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
      button{
        cursor: pointer;
        background: transparent;
        height: 100%;
        width: 100%;
        border:none;
        outline:none;
        align-items: center;
        text-align: center;
        display: flex;
        span{
          @include transition(all ease .4s);
          color: $light-grey;
          font-size: 16px;
        }
      }

    }
  }
  textarea{
    @include slim-scrollbar();
    resize: none;
    outline:none;
    width: calc(100% - 6px);
    color: $pearl;
    border: 0;
    background: transparent;
    margin-top: 1vh;
  }
}

.post-more-options{
  display: flex;
  align-items:center;
  padding: 0 10px;
  cursor: pointer;
  .options{
    li{
      width: 3px;
      height: 3px;
      background: black;
      margin-bottom: 2px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.post, .comment{
  .details{
    .header{
      font-size:11px;
      .header-right {
        display: flex;
      }
    }
    .footer{
      .up, .down{
        cursor: pointer;
        span{
          font-size: 12px;
        }
      }
    }
  }
  .commented, .posted, .patch{
    opacity: .5;
  }
  .peripheral{
    opacity: .2;
    @include transition(all ease .5s);
  }
  &:hover{
    .peripheral {
      opacity: 1;
    }
  }
}