@import '_colors';
@import '_mixins';

.default-style{
  font-family: 'Arial', sans-serif;

  h1{
    margin: 0.67em 0;
  }
  h2{
    margin: 0.83em 0;
  }
  h3{
    margin: 1em 0;
  }
  h4{
    margin: 1.33em 0;
  }
  h5{
    margin: 1.67em 0;
  }
  h6{
    margin: 2.33em 0;
  }
  p{
    margin: 10px 0;
  }
  ol, ul{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
    li{
      display: list-item;
      list-style-type: disc;
      margin: 3px 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  a{
    &:link {
      color: #0000EE;
    }
    &:hover {
      text-decoration: underline
    }
    &:visited {
      color: #551A8B;
    }
  }
  &.blizzard_post {
    ol, li {
      list-style-type: square;
      li{
        list-style-type: square;
      }
    }
    a {
      color: #f8b700;
      &:hover {
        color: white;
        text-decoration: none;
      }
      &:visited {
        color: #f8b700;
      }
    }
  }
}

.blizzard_post {
  color: #00c0f6;
  background-color: #1e293f;
  div{
    padding: 10px;
  }
  strong{
    color: white;
  }
}
.deck-snippet {
  @include box-shadow(0, 0, 10px, rgba(black, .3));
  @include transition(all ease .4s);
  position: relative;
  background-color: $pearl;
  padding: 1vh;
  &:hover{
    @include box-shadow(0, 0, 10px, $dark-grey);
    cursor: pointer;
  }
  .background-icon {
    position: absolute;
    font-size: 8.125em;
    opacity: 0.15;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }
  .deck-snippet-header{
    padding-bottom: 4.5px;
    border-bottom: 1px solid $dark-grey;
    .deck-snippet-hs-class {
      span {
        font-size: 35px;
        position: relative;
        top: 5px;
        padding: 5px;
        border: 2px solid black;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .deck-snippet-about{
      .deck-snippet-title{
        font-weight: bold;
        font-size: 16px;
        @include truncate(100%);
      }
      .deck-snippet-author, .deck-snippet-created{
        font-size:12px;
      }
    }
  }
  .deck-snippet-body{
    margin-top: 4.5px;
    height: calc(9.5vh - 10px);
    .deck-snippet-body-header{
      display: flex;
      width: 100%;
      justify-content: space-between;
      .deck-snippet-mode {
        width: 10%;
        text-align: center;
        span {
          color: darkgreen;
          font-size: 25px;
        }
        p{
          margin-left: 5px ;
        }
      }
      .deck-snippet-mana-curve{
        display: flex;
        li{
          width: 4px;
          background-color: $dark-grey;
          height: 100%;
          margin-right: 2px;
          &:last-child{
            margin-right:0;
          }
        }
      }
      .deck-snippet-type{
        height:27px;
        line-height: 27px;
      }
      .deck-snippet-type{
        width: 55%;
      }
    }
    .deck-snippet-body-body{
      margin-top: 10px;
      display: flex;
      div{
        text-align: left;
        padding: 0 5px;
        &:after{
          position: absolute;
          content: "\00b7";
          margin-left: 2.5px;
          color: $dark-grey;
        }
        &:first-child{
          padding-left:0;
        }
        &:last-child{
          padding-right:0;
          border-right:0;
          &:after{
            position: absolute;
            content: "";
          }
        }
        span{
          font-size: 16px;
        }
      }
    }
    .deck-snippet-body-footer{
      margin-top:7px;
      display: flex;
      div{
        width: 33.33%;
        align-items: center;
        display: flex;
        opacity: .6;

        span{
          font-size: 16px;
          margin-right: 5px;
        }
      }
      .deck-snippet-views{
        display: flex;
        p{
          padding:0;
          margin: 0;
        }
      }
      .deck-snippet-comments{
        justify-content:center;
      }
      .deck-snippet-votes{
        justify-content: flex-end;

      }
    }
  }
}

.list-with-filters-layout{
  .left-container {
    ul {
      li {
        @include transition(all ease .4s);
        display: inline-block;
        color: $dark-grey;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-family: 'Hearthstone';
          font-size: 41px;
        }
      }
    }
  }
  .right-container {
    .topbar {
      .filters {
        justify-content: space-between;
        width: 100%;
        .create-deck {
          cursor: pointer;
        }
      }
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topbar-left, .topbar-right{
    width: 50%;
    display: flex;
    li {
      cursor: pointer;
      margin-right: .5vh;
      span {
        line-height: 5.5vh;
        @include transition(all ease .4s);
        color: $dark-grey;
      }
      .mana.active{
        color: navy;
      }
      &:first-child {
        margin-left: .5vh;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        div {
          display: block;
        }
      }
    }
  }
  .topbar-left {
    justify-content:flex-start;
  }
  .topbar-right {
    justify-content: flex-end;
    li{
      span{
        padding: .5vh;
      }
    }
  }
}

.btn-pearl {
  cursor: pointer;
  background: $dark-grey;
  border: 1px solid $pearl;
  color: $pearl;
  outline: 0;
  font-size: 1.2vh;
  padding: .3vh .5vh;
  position: relative;
  @include box-shadow(0, 0, 5px, $dark-grey);
  @include transition(all ease .4s);
  &:after{
    @include box-shadow(0, 0, 5px, $sea-color);
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(all ease .4s);
  }
  &:hover {
    background: $dark-grey;
    border-color: $sea-color;
    color: $sea-color;
    &:after{
      opacity: 1;
    }
  }
}

.btn-padding-small{
  padding: 1px 5px;
}

form {
  &.inline{
    .input-wrapper {
      label, input {
        display: flex;
        color: $pearl;
      }
    }
  }
  .input-wrapper {
    position: relative;
    label, input{
      display: block;
      color: $pearl;
    }
    input{
      @include transition(all ease .4s);
      margin-bottom: 2vh;
      padding: 5px;
      background: transparent;
      width: 60%;
      color: $sea-color;
      border-bottom: 1px solid $light-grey;
      &:focus {
        border-bottom: 1px solid $pearl;
      }
    }
    .tos {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      color: $light-grey;
      margin-bottom: 20px;
      input[type=checkbox] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 0;
        font-size: 10px;
        visibility: hidden;
        margin-bottom: 0;
        padding: 0;
        margin-right: 2px;
        &:after {
          content: " ";
          background-color: transparent;
          color: $light-grey;
          border: 1px solid $light-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          visibility: visible;
          margin-bottom: 5px;
          margin-left: 3px;
          padding: 3px 3px 4px 4px;
        }
        &:checked:after {
          content: '\2714';
          color: $pearl;
          border-color: $pearl;
        }
      }
      label {
        a {
          color: $pearl;
          text-decoration: underline;
        }
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .divider{
    width: inherit;
    text-align: center;
    color: $light-grey;
    position: relative;
    font-size: 12px;
    margin: 20px 0;
    span{
      position: relative;
      padding: 0 10px;
      background: $dark-grey;
    }
    &:before{
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: $light-grey;
    }
  }
}

.decklist-summary-icons{
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items:center;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        span {
          font-size: 2vh;
          cursor: pointer;
          padding: 5px;
          @include transition(all ease .4s);
        }
      }
    }
}


.text-editor{
  display: grid;
  background: $dark-grey;
  height: calc(100% - 2vh - 2px);
  grid-template-rows: 40px auto;
  border: 1px solid grey;
  padding: 1vh;
  .toolbar{
    display: flex;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 1vh;
    li{
      @include transition(all ease .4s);
      border: 1px solid $light-grey;
      margin-right: 5px;
      &:hover{
        border:1px solid $pearl;
        background: $white-020;
        button{
          span {
            color: $pearl;
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
      button{
        cursor: pointer;
        background: transparent;
        height: 100%;
        width: 100%;
        border:none;
        outline:none;
        align-items: center;
        text-align: center;
        display: flex;
        span{
          @include transition(all ease .4s);
          color: $light-grey;
          font-size: 16px;
        }
      }

    }
  }
  textarea{
    @include slim-scrollbar();
    resize: none;
    outline:none;
    width: calc(100% - 6px);
    color: $pearl;
    border: 0;
    background: transparent;
    margin-top: 1vh;
  }
}

.post-more-options{
  display: flex;
  align-items:center;
  padding: 0 10px;
  cursor: pointer;
  .options{
    li{
      width: 3px;
      height: 3px;
      background: black;
      margin-bottom: 2px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.post, .comment{
  .details{
    .header{
      font-size:11px;
      .header-right {
        display: flex;
      }
    }

    .footer{
      .up, .down{
        cursor: pointer;
        span{
          font-size: 12px;
        }
        &.voted{
          opacity: 1;
          span {
            border-radius: 50%;
            @include box-shadow(0, 0, 5px, $dark-grey);
            background: $dark-grey;
            color: $pearl;
          }
        }
      }
    }
  }

  .peripheral {
    opacity: .2;
  }
  &:hover{
    .peripheral {
      opacity: 1;
    }
  }
}