.decks{
  .submenu{
    width: 12%;
  }
}

.expansions, .adventures{
  .submenu{
    width: 16%;
  }
}
.submenu{
  background-color: $pearl;
  display: none;
  position: absolute;
  width: 10%;
  margin-top: 16px;
  padding-top: 10px;
  margin-left: -1px;
  li{
    @include transition(all ease .4s);
    display: block;
    width:100%;
    border:none;
    background-color: $dark-grey;
    padding: 10px 0;
    &:first-child{
      border-left: none;
    }
    span{
      font-size: 28px;
      float: left;
      margin-top: -20px;
      border-width: 2px;
      border-style: solid;
      padding: 5px;
      border-radius: 50%;

    }
    div{
      margin-top: 0;
      float: right;
      padding-right: 10px;
      line-height: 0;
    }
    a{
      clear: both;
      padding: 20px 5px;
    }
  }
}
.druid{
  @include submenu_class_color($druid);
}

.hunter{
  @include submenu_class_color($hunter);
}

.mage{
  @include submenu_class_color($mage);
}
.paladin{
  @include submenu_class_color($paladin);
}

.priest{
  @include submenu_class_color($priest);
}

.rogue{
  @include submenu_class_color($rogue);
}

.shaman{
  @include submenu_class_color($shaman);
}

.warlock{
  @include submenu_class_color($warlock);
}

.warrior{
  @include submenu_class_color($warrior);
}
