@import 'colors';
@import 'mixins';
.decks{
  .submenu{
    width: 12vw;
  }
}

.expansions, .adventures{
  .submenu{
    width: 16vw;
  }
}
.submenu{
  background-color: $pearl;
  display: none;
  position: absolute;
  top: 10vh;
  padding-top: 1vh;
  margin-left: -1px;
  z-index: 2;

  @include box-shadow(0, 1px, 5px, $pearl);
  li{
    @include transition(all .4s ease);
    background-color: $dark-grey;
    height: 5.5vh;
    display: grid;
    .submenu__icon {
      @include transition(border .4s ease);
      border:2px solid;
      padding: 5px;
    }
    a{
      display: flex;
      padding: 5px;
      align-items: center;
      justify-content: space-between;
      div{
        font-size: calc(.25em + 1vmin);
        margin-left: 5px;
      }
    }
  }
}