.decks{
  .submenu{
    width: 12vw;
  }
}

.expansions, .adventures{
  .submenu{
    width: 16vw;
  }
}
.submenu{
  background-color: $pearl;
  display: none;
  position: absolute;
  top: 10vh;
  padding-top: 1vh;
  margin-left: -1px;
  z-index: 2;
  li{
    @include transition(all .4s ease);
    display: block;
    background-color: $dark-grey;
    padding: 0 .5vw 0 0;
    span{
      @include transition(border .4s ease);
      border-width: 2px;
      border-style: solid;
      padding: 5px;
      font-size:1.5vw;
    }
    a{
      display: flex;
      padding: 5px;
      align-items: center;
      justify-content: space-between;
    }
  }
}