@import url("https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext");
body {
  background: #E7E2DA; }

html, body, ol, ul, li, form, fieldset, legend, input, table {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

fieldset, img {
  border: 0; }

ol, ul, li {
  list-style: none; }

input {
  border: 0;
  outline: 0;
  font-size: 14px; }

a:active, a:hover, a:link, a:visited {
  color: inherit;
  text-decoration: none; }

.displayNone {
  display: none; }

@font-face {
  font-family: 'Hearthstone';
  src: url("../icons/Hearthstone.ttf?sjdqmo") format("truetype"), url("../icons/Hearthstone.woff?sjdqmo") format("woff"), url("../icons/Hearthstone.svg?sjdqmo#Hearthstone") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Hearthstone' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-expansions:before {
  content: "\e907"; }

.icon-login:before {
  content: "\e912"; }

.icon-the_grand_tournament:before {
  content: "\e900"; }

.icon-hs_logo:before {
  content: "\e901"; }

.icon-deck:before {
  content: "\e902"; }

.icon-create-deck:before {
  content: "\e903"; }

.icon-arena-picker:before {
  content: "\e904"; }

.icon-blackrock:before {
  content: "\e905"; }

.icon-card:before {
  content: "\e906"; }

.icon-explorers-league:before {
  content: "\e908"; }

.icon-forum:before {
  content: "\e909"; }

.icon-gvg:before {
  content: "\e90a"; }

.icon-karazhan:before {
  content: "\e90b"; }

.icon-kraken:before {
  content: "\e90c"; }

.icon-naxxramas:before {
  content: "\e90d"; }

.icon-old-gods:before {
  content: "\e90e"; }

.icon-trophy:before {
  content: "\e90f"; }

.icon-twitch:before {
  content: "\e910"; }

.icon-wild:before {
  content: "\e911"; }

.block-width-0 {
  display: none; }

.block-width-1 {
  width: 24.5%; }
  @media only screen and (min-width: 1024px) and (max-width: 1600px) {
    .block-width-1 {
      width: 28.5%; } }

.block-width-2 {
  width: 49.5%; }
  @media only screen and (min-width: 1024px) and (max-width: 1600px) {
    .block-width-2 {
      width: 40.5%; } }

.block-width-3 {
  width: 74.5%; }
  @media only screen and (min-width: 1024px) and (max-width: 1600px) {
    .block-width-3 {
      width: 69.85%; } }

.block-width-4 {
  width: 99%; }

.submenu {
  max-width: 100%;
  background-color: #E7E2DA;
  display: none;
  position: absolute;
  width: 9.7%;
  margin-top: 16px;
  padding-top: 10px;
  margin-left: -1px; }
  .submenu li {
    display: block;
    width: 100%;
    border: none; }
    .submenu li:first-child {
      border-left: none; }
    .submenu li:last-child {
      background-color: inherit; }
    .submenu li div {
      margin-top: 0;
      text-align: right;
      padding-right: 10px; }
    .submenu li a {
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s;
      filter: grayscale(100%); }
      .submenu li a:hover {
        filter: grayscale(0%); }
      .submenu li a .submenu-active {
        filter: grayscale(0%); }
  .submenu .warlock {
    background: url("../images/submenu/warlock_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .druid {
    background: url("../images/submenu/druid_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .priest {
    background: url("../images/submenu/priest_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .rogue {
    background: url("../images/submenu/rogue_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .hunter {
    background: url("../images/submenu/hunter_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .mage {
    background: url("../images/submenu/mage_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .paladin {
    background: url("../images/submenu/paladin_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .shaman {
    background: url("../images/submenu/shaman_background.jpg") no-repeat center center;
    background-size: 100%; }
  .submenu .warrior {
    background: url("../images/submenu/warrior_background.jpg") no-repeat center center;
    background-size: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

/*
  Layout
 */
nav {
  position: relative;
  z-index: 100;
  background-color: #474143;
  text-align: right;
  display: inline-flex;
  width: 100%; }
  nav .logo {
    width: 30%;
    height: 50px; }
  nav ul {
    width: 70%; }
    nav ul li {
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      width: 9.7%;
      border-right: 1px solid #666; }
      nav ul li:first-child {
        border-left: 1px solid #666; }
      nav ul li:last-child {
        background-color: #00a99c; }
      nav ul li:hover {
        background-color: #00a99c; }
        nav ul li:hover .submenu {
          display: block; }
      nav ul li a {
        display: block;
        text-align: center;
        padding: 16px 0; }
        nav ul li a div {
          margin-top: 8px; }
        nav ul li a span {
          font-family: 'Hearthstone';
          font-size: 41px; }
      nav ul li .active {
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -ms-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        background-color: #E7E2DA;
        color: #474143; }
        nav ul li .active:hover {
          color: #E7E2DA;
          background-color: #00a99c; }

footer {
  width: 100%;
  height: 44px;
  background-color: #474143;
  position: fixed;
  bottom: 0; }

.pageContainer {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  height: 809px;
  overflow-y: auto;
  margin-bottom: 10px; }
  .pageContainer::-webkit-scrollbar {
    width: 13px; }
  .pageContainer::-webkit-scrollbar-thumb {
    background-color: #474143;
    border-radius: 0; }
  .pageContainer::-webkit-scrollbar-thumb:hover {
    background-color: #474143; }
  .pageContainer::-webkit-scrollbar-track {
    background-color: #A69E9D; }

/*
  Pages
 */
.home ul {
  display: flex;
  width: inherit;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap; }
  .home ul li {
    margin-bottom: 10px;
    position: relative;
    color: black;
    height: 400px;
    background-color: #A69E9D; }
    .home ul li:nth-last-child(1), .home ul li:nth-last-child(2), .home ul li:nth-last-child(3), .home ul li:nth-last-child(4) {
      margin-bottom: 0; }
  .home ul .image-container img {
    max-width: 100%;
    max-height: 100%;
    display: block; }
.home .block__element {
  position: relative; }
  .home .block__element .block__element--title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase; }

/*# sourceMappingURL=index.css.map */
