@import '_reset';
@import '_colors';
@import '_fonts';
@import '_grid';
@import '_mixins';
@import '_icons';
@import '_submenu';
@import "../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
body{
  font-family: 'Roboto', sans-serif;
}
/*
  Layout
 */
nav {
  position: relative;
  z-index: 100;
  background-color: $dark-grey;
  text-align: right;
  display: inline-flex;
  width: 100%;
  .logo{
    width: 20%;
    height:50px;
  }
  ul {
    width: 80%;
    li {
      @include transition(all ease .4s);
      color: $primary-font-color;
      display: inline-block;
      text-transform: uppercase;
      width: 8.7%;
      border-right: 1px solid #666;
      &:first-child {
        border-left: 1px solid #666;
      }

      &:hover {
        background-color: $sea-color;
        .submenu{
          display: block;
        }
      }
      a {
        display: block;
        text-align: center;
        padding: 16px 0;
        div{
          margin-top: 8px;
        }
        span {
          font-family: 'Hearthstone';
          font-size: 41px;
        }
      }
      .active {
        @include transition(all ease .4s);
        background-color: $pearl;
        color: $dark-grey;
        &:hover{
          color: $pearl;
          background-color: $sea-color;
        }
      }
    }
    .login{
      background-color: $sea-color;
    }
  }
}
footer{
  width: 100%;
  height: 44px;
  background-color: $dark-grey;
  position: fixed;
  bottom:0;
}
.pageContainer{
  position: relative;
  z-index: 1;
  height: 809px;
  overflow-y: auto;
  margin: 10px 0;
  display: flex;
  &::-webkit-scrollbar{width: 13px;}
  &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0;}
  &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
  &::-webkit-scrollbar-track{background-color: $light-grey;}
}


/*
  Pages
 */
.home{
   ul {
     display: flex;
     width: inherit;
     justify-content: space-around;
     flex-grow: 1;
     flex-wrap: wrap;

     li{
       margin-bottom: 10px;
       position: relative;
       color: black;
       height: 400px;
       background-color: $light-grey;
       &:nth-last-child(1),
       &:nth-last-child(2),
       &:nth-last-child(3),
       &:nth-last-child(4){
         margin-bottom: 0;
       }
     }
     .image-container{
       img{
         max-width:100%;
         max-height:100%;
         display:block;
       }
     }
   }

   .block__element {
     position: relative;
     .block__element--title {
       position: absolute;
       top: 0;
       left: 0;
       padding: 0 10px;
       background-color: rgba(255,255,255,.5);
       text-transform: uppercase;
     }
   }
 }

.cards{
  ul{
    li{
      @include transition(all ease .4s);
      display: inline-block;
      margin-right: 10px;
      color: $dark-grey;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      span{
        font-family: 'Hearthstone';
        font-size: 41px;
      }
    }
  }

  .sidebar-filters{
    background-color: $light-grey;
    width: 20%;
    height: 100%;
    h3{
      background-color: $dark-grey;
      padding: 5px;
      color: $pearl;

    }
    .filter-header{
      padding: 19px 5px;
      margin-bottom:0;
    }
    .Select{
      &:focus{
        outline:none;
      }
      .Select-control{
        background-color: $light-grey;
        border:none;
        border-radius: 0;
        border-bottom: 1px solid black;
      }

      .Select-placeholder{
        color: $dark-grey;
      }
      .Select-arrow {
        border-color: $dark-grey transparent transparent;
      }
      .Select-value{
        color: $dark-grey;
        border: 1px solid $dark-grey;
        background-color: $pearl;
        .Select-value-icon{
          border-right: 1px solid $dark-grey;
          &:hover{
            color: $dark-grey;
          }
          &:focus{
            background-color: yellow;
          }
        }
      }
      .Select-clear-zone{
        color: $dark-grey;

      }
      .Select-menu{
        &::-webkit-scrollbar{width: 13px;}
        &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0;}
        &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
        &::-webkit-scrollbar-track{background-color: $light-grey;}
      }
      .Select-menu-outer{
        background-color: $pearl;
        border-radius: 0;
        border: 0;

      }
      .Select-option{
        @include transition(all ease .4s);
        background-color: $pearl;
        border-bottom:1px solid $dark-grey;
        border-right: 1px solid $light-grey;
        &:last-child{
          border-radius: 0;
          border-bottom:0;
        }
        &:hover{
          background-color: $sea-color;
          color: $pearl;
        }

      }
    }
    .hs{
      padding:10px;
    }
    .sidebar-icons {
      margin-bottom:1em;
      text-align: center;
      li {
        padding: 5px;
        span{
          padding: 0;
        }
      }
    }
  }
  .topbar-filters{
    width: 80%;
    background-color: $light-grey;
    height:60px;
    ul{
      display: inline-flex;
      li {
        span{
          line-height: 60px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .topbar-left{
      margin-left: 5px;
      li{
        &:hover{
          color: navy;
        }
      }
    }
    .topbar-right{
      float: right;
      li{
        width: 60px;
        text-align: center;
        span{
          @include transition(all ease .4s);
          color: $dark-grey;
          padding: 9.5px;
        }
        .tooltip {
          display: none;
          width: 120px;
          margin-left: -38px;
          .caret-up {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $dark-grey transparent;
            position: relative;
            left: calc(50% - 5px);
          }
          p{
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 0;
            background-color: $dark-grey;
            color: $pearl;
          }
        }
        &:hover{
          div{
            display: block;
          }
        }
      }
    }
  }

  .not-active{
    background-color: $dark-grey;
  }

  .mana-active{
    color: navy;
  }
}