@import 'reset';
@import 'colors';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'icons';
@import 'submenu';
html, body{
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  span.hs-icon {
    font-family: 'Hearthstone';
    font-size: 41px;
  }
}
/*
  Layout
 */
nav {
  position: relative;
  z-index: 100;
  background-color: $dark-grey;
  text-align: right;
  display: inline-flex;
  width: 100%;
  .logo{
    width: 20%;
    height:50px;
  }
  ul {
    width: 80%;
    li {
      @include transition(all ease .4s);
      color: $primary-font-color;
      display: inline-block;
      text-transform: uppercase;
      width: 8.7%;
      border-right: 1px solid #666;
      &:first-child {
        border-left: 1px solid #666;
      }

      &:hover {
        background-color: $sea-color;
        .submenu{
          display: block;
        }
      }
      a {
        display: block;
        text-align: center;
        padding: 1.45vh 0;
        div{
          margin-top: 8px;
          font-size: 0.8vw;
        }
        span {
          font-family: 'Hearthstone';
          font-size: 2.1vw;
        }
      }
      .active {
        @include transition(all ease .4s);
        background-color: $pearl;
        color: $dark-grey;
        &:hover{
          color: $pearl;
          background-color: $sea-color;
        }
      }
    }
    .login{
      background-color: $sea-color;
    }
  }
}
footer{
  width: 100%;
  height: 5vh;
  background-color: $dark-grey;
  position: fixed;
  bottom:0;
}

.shared-table {
  margin-right: 20px;
  border-collapse: collapse;
  width: 100%;
  tr {
    @include transition(all ease .4s);
    &:first-child {
      td {
        background: rgba(0, 0, 0, .5);
        color: $pearl;
        padding: 20px;
      }
    }
    td {
      padding: 0;
      cursor: pointer;
      border: 1px solid $dark-grey;
      border-right: 0;
      border-left: 0;
      text-align: center;
      a {
        display: block;
        padding: 10px 0;
        width: 100%;
        height: 100%;
      }
      &:first-child {
        border-left: 1px solid $dark-grey;
        a {
          padding-left: 10px;
        }
      }
      &:last-child {
        border-right: 1px solid $dark-grey;
      }

    }
    .name {
      text-align: left;
      span, div {
        display: inline-block;
      }
      span {
        padding: 5px;
        font-size: 30px;
        border: 2px solid $dark-grey;
        border-radius: 50%;
        margin-right: 5px;
      }
      .title {
        font-weight: bold;
      }
      .author {
        font-size: 10px;
      }
    }
    .class {
      text-transform: capitalize;
    }
    .mana-curve {
      ul {
        display: flex;
        justify-content: center;
        li {
          width: 4px;
          background: $dark-grey;
          height: 20px;
          margin-right: 2px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.pageContainer{
  padding: 0 10px;
  @include scrollbar;
  position: relative;
  z-index: 1;
  height: 83vh;
  overflow-y: auto;
  margin: 1vh 0;
  display: flex;
  .hs-icon{
    font-family: 'Hearthstone';
  }
  .left-container {
    width: 20%;
    background-color: $light-grey;
    height: 100%;
    .sidebar{
      .filter-header{
        padding: 14px 5px;
        margin-bottom:0;
      }
      h3{
        background-color: $dark-grey;
        padding: 5px;
        color: $pearl;
      }
    }
  }
  .right-container {
    width: 80%;
    .topbar{
      background-color: $light-grey;
      height:50px;
      display: flex;
      align-items: center;
      &.has-icons {
        cursor: pointer;
        position: relative;
        span {
          @include transition(all ease .4s);
          color: $dark-grey;
          padding: 5px;
          line-height: 50px;
        }
        .tooltip {
          position: absolute;
          display: none;
          transform: translateX(-50%);
          left: 50%;
          text-align: center;
          .caret-up {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $dark-grey transparent;
            position: relative;
            left: calc(50% - 5px);
          }
          p {
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 10px;
            background-color: $dark-grey;
            color: $pearl;
          }
        }
        li{
          position: relative;
          &:hover {
            div {
              display: block;
            }
          }
        }

      }
      .false-view{
        display: none;
      }
      .active-view {
        color: $dark-grey;
        display: flex;
      }
    }
  }
}



/*
  Pages
 */
.home{
  ul.home__list {
    display: flex;
    width: inherit;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;

    li.home__block {
      margin-bottom: 10px;
      position: relative;
      color: black;
      height: 41vh;
      background-color: $light-grey;
      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4){
        margin-bottom: 0;
      }
      a{
        .header{
          background-color: $dark-grey;
          color: $pearl;
          font-size: 16px;
          padding: 15.5px 10px ;
          text-transform: uppercase;
        }
      }
      .image-container{
        img{
          max-width:100%;
          max-height:100%;
          display:block;
        }
      }
    }

    .decks{
      display: flex;
      .left-container{
        padding-left: 10px;
        background-color: $dark-grey;
        width: 15%;
        height: 100%;
        .sidebar {
          .search-decks{
            padding-top:10px;
            width: calc(100% - 10px);
            h3{
              padding: 5.5px;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: normal;
              margin: 0 0 10px 0;
            }
            input{
              @include transition(all ease .4s);
              outline:0;
              font-size: 15px;
              background-color: rgba(231, 226, 218, .1);
              padding: 5px;
              height: 29px;
              border-bottom: 1px solid $light-grey;
              color: $pearl;

              &:focus{
                border-bottom:1px solid $pearl;
              }
            }
          }
          .mode-selection {
            margin-top:10px ;
            li {
              color: $light-grey;
              display: flex;
              span {
                font-size: 34px;
              }
              p {
                text-transform: uppercase;
                height: 40px;
                line-height: 40px;
                margin: 0 0 0 10px;
              }
            }
          }
        }
      }
      .right-container{
        width: 85%;
        .class-filter {
          padding: 4px 0;
          background-color: $dark-grey;
          text-align: center;
          .class-selection {
            li {
              @include transition(all ease .4s);
              margin-right: 25px;
              display: inline-block;
              padding:3px;
              cursor: pointer;
              span {
                font-size: 34px;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        .hot-decks{
          width: calc(100% - 20px);
          padding: 10px;
          .upper-row, .bottom-row{
            width: 100%;
            display: flex;
          }
          .bottom-row{
            margin-top:10px;
          }

        }
      }
    }

    .arena-picker{

    }

    .tournaments{}

    .expansions{
      .slider{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 10px;
        height:100%;
        ul{
          height:100%;
          li{
            height:100%;
            img{
              width:100%;
              height: calc(100% - 70px);
            }
          }
        }
        .slider-nav{
          position: absolute;
          top: calc(50% - 25px);
          width: calc(100% - 20px);
          display: flex;
          font-size: 50px;
          border: 0;
          outline:none;
          .prev, .next{
            @include transition(all ease .4s);
            position: absolute;
            padding: 0 15px;
            background-color: rgba(255,255,255,.4);
            cursor: pointer;
            &:hover{
              background-color: $sea-color;
              color: $pearl;
            }
          }
          .prev{
            left: 0;
          }
          .next{
            right: 0
          }
          .bullets{
            position: absolute;
            background-color: rgba(255,255,255,.4);
            left: calc(50% - 20px);
            top: 140px;
          }
        }
      }
    }

    .cards, .create-deck{
      .icon{
        @include transition(all ease .4s);
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 50px);
        span{
          font-size: 15vw ;
        }
      }
      &:hover{
        .icon{
          color: $pearl;
        }
      }
    }

    .create-deck{}

    .streams {
      .streams-body {
        display: flex;
        height: calc(100% - 50px);
        .live-broadcasters {
          width: 20% ;
          background-color: $dark-grey;
          .streamer{
            font-size: .8vw;
            display: flex;
            margin: 11px;
            padding: 10px;
            background-color: $pearl;
            &:first-child{
              margin-top:0;
            }
            .name{
              flex-grow: 8;
            }
            .viewers{
              flex-grow: 2;
              text-align: center;
            }
          }
        }
        .iframe-container {
          width: calc(80% - 20px);
          padding: 10px;
          iframe{
            border:none;
          }
        }
      }
    }

    .forum{
      .post{
        background-color: $pearl;
        margin: 12.45px 10px;
        padding: 11px 10px;
        color: $dark-grey;
        display: flex;
        cursor: pointer;
        .about {
          width: 80%;
          .topic {
            font-weight: bold;
            font-size: 16px;
          }
          .details {
            display: flex;
            .author, .created {
              font-size: 12px;
            }
          }
        }
        .answers{
          width: 20%;
          .answer-count{
            text-align: center;
            font-weight: bold;
            span{
              padding: 0 5px;
              background-color: $dark-grey;
              color: $pearl;
            }
          }
          .answer-label{
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }

  }
}

.decks, .cards{
  .left-container{
    li{
      cursor: pointer;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
    .sidebar{
      .Select{
        &:focus{
          outline:none;
        }
        .Select-control{
          background-color: $light-grey;
          border:none;
          border-radius: 0;
          border-bottom: 1px solid black;
        }

        .Select-placeholder{
          color: $dark-grey;
        }
        .Select-arrow {
          border-color: $dark-grey transparent transparent;
        }
        .Select-value{
          color: $dark-grey;
          border: 1px solid $dark-grey;
          background-color: $pearl;
          .Select-value-icon{
            border-right: 1px solid $dark-grey;
            &:hover{
              color: $dark-grey;
            }
            &:focus{
              background-color: yellow;
            }
          }
        }
        .Select-clear-zone{
          color: $dark-grey;

        }
        .Select-menu{
          &::-webkit-scrollbar{width: 13px;}
          &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0;}
          &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
          &::-webkit-scrollbar-track{background-color: $light-grey;}
        }
        .Select-menu-outer{
          background-color: $pearl;
          border-radius: 0;
          border: 0;

        }
        .Select-option{
          @include transition(all ease .4s);
          background-color: $pearl;
          border-bottom:1px solid $dark-grey;
          border-right: 1px solid $light-grey;
          &:last-child{
            border-radius: 0;
            border-bottom:0;
          }
          &:hover{
            background-color: $sea-color;
            color: $pearl;
          }

        }
      }
      .hs{
        padding:10px;
      }
      .sidebar-icons {
        margin: 1em 0;
        text-align: center;
        li {
          span{
            @include transition(all ease .4s);
            padding: 5px;
            color: $dark-grey;
          }
          .tooltip {
            position: absolute;
            width: 200px;
            display: none;
            margin-left: -82px;
            margin-top:5px;
            .caret-up {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 5px 5px 5px;
              border-color: transparent transparent $pearl transparent;
              position: relative;
              left: calc(50% - 5px);
            }
            p{
              font-size: 12px;
              text-transform: uppercase;
              padding: 5px 0;
              background-color: $dark-grey;
              color: $pearl;
              border: 1px solid $pearl ;
            }
          }
          &:hover{
            div{
              display: block;
            }
          }
          &:first-child{
            .tooltip {
              margin-left: -38px;
              .caret-up {
                left: calc(27% - 5px);
              }
            }
          }
        }
      }
    }
  }
  .right-container{
    .topbar{
      display: flex;
      justify-content: space-between;
      .topbar-left{
        li{
          cursor: pointer;
          margin-right: 5px;
          &:first-child{
            margin-left: 5px;
          }
          &:last-child{
            margin-right: 0;
          }
          span{
            line-height: 50px;
          }
        }
      }
      .topbar-right {
        li {
          cursor: pointer;
          span {
            @include transition(all ease .4s);
            color: $dark-grey;
            padding: 5px;
            line-height: 50px;
          }
          .tooltip {
            position: absolute;
            display: none;
            width: 120px;
            margin-left: -30px;
            .caret-up {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 5px 5px 5px;
              border-color: transparent transparent $dark-grey transparent;
              position: relative;
              left: calc(50% - 5px);
            }
            p {
              font-size: 12px;
              text-transform: uppercase;
              padding: 5px 0;
              background-color: $dark-grey;
              color: $pearl;
            }
          }
          &:hover {
            div {
              display: block;
            }
          }
        }

      }
    }
  }
}

.decks {
  .left-container {
    ul {
      li {
        @include transition(all ease .4s);
        display: inline-block;
        color: $dark-grey;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-family: 'Hearthstone';
          font-size: 41px;
        }
      }
    }
    .sidebar {
      .deck-details {
        table {
          tr {
            td {
              span {
                font-size: 20px;
              }
            }
          }
        }
      }
      .graph {
        padding: 10px;
        width: calc(100% - 20px);
        text-align: center;
        display: inline-flex;
        li {
          width: 100%;
          .bar {
            height: 100px;
            margin: 2px auto;
            width: 15px;
            background-color: $dark-grey;
          }
          .hs-icon {
            font-size: 25px;
          }
        }
      }
      table {
        width: 100%;
        tr {
          td:last-child {
            text-align: center;
          }
        }
      }
    }
  }
  .right-container {
    .topbar {
      .filters {
        justify-content: space-between;
        width: 100%;
        .create-deck {
          cursor: pointer;
        }
      }
      .topbar-left {
        display: flex;
        li {
          width: 60px;
          text-align: center;
          span {
            @include transition(all ease .4s);
            color: $dark-grey;
            padding: 5px;
            line-height: 50px;
          }
          .tooltip {
            position: absolute;
            display: none;
            width: 120px;
            margin-left: -30px;
            .caret-up {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 5px 5px 5px;
              border-color: transparent transparent $dark-grey transparent;
              position: relative;
              left: calc(50% - 5px);
            }
            p {
              font-size: 12px;
              text-transform: uppercase;
              padding: 5px 0;
              background-color: $dark-grey;
              color: $pearl;
            }
          }
          &:hover {
            div {
              display: block;
            }
          }
        }
      }
      .create-deck {
        margin-right: 10px;
        span {
          line-height: 50px;
        }
        .tooltip {
          position: absolute;
          display: none;
          width: 140px;
          text-align: center;
          margin-left: -89px;
          .caret-up {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $dark-grey transparent;
            position: relative;
            left: calc(79% - 5px);
          }
          p {
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 0;
            background-color: $dark-grey;
            color: $pearl;
          }
        }
        &:hover {
          div {
            display: block;
          }
        }
      }

      .choosen-deck-topbar {
        display: flex;
        align-items: center;
        .mode, .cards, .dust-cost {
          display: flex;
          align-items: center;
        }
        span {
          font-size: 20px;
        }
        li {
          margin-left: 10px;
        }
        .rating, .dust-cost{
          height: 100%;
          padding: 0 10px;
        }
        .rating{
          display: flex;
          align-items: center;
        }
      }
    }

    .top-decks {
      @include scrollbar;
      margin: 10px 10px 0 10px;
      padding-right: 10px;
      height: calc(100% - 60px);
      width: calc(100% - 20px);
      overflow: auto;
    }
    .choosen-deck-view {
      .choosen-deck-details {
        display: flex;
        .section {
          width: 50%;
          height: 749px;
          margin: 10px;
          margin-bottom: 0;
          overflow: auto;
          justify-content: space-around;
          .section-header {
            h1 {
              width: 100%;
              border-bottom: 1px solid black;
              line-height: 0.1px;
              margin: 0.67em 0;
              span {
                background: $pearl;
                padding: 0 10px 0 0;
              }
            }
          }
          .section-body {
            @include scrollbar;
            height: 716px;
            overflow: auto;
          }
        }
        .description {
          .section-body {
            padding: 0 10px 0 0;
            p {
              background: rgba(0, 0, 0, .2);
              padding: 10px;
            }
          }

        }
        .comments {
          background: transparent;
          margin-right: 0;

          .section-body {
            .comment {
              display: flex;
              margin: 10px;
              border-bottom: 1px solid black;
              padding: 15px 0;
              .user-details {
                display: flex;
                .comment-author {
                  width: 140px;
                  margin-left: 5px;
                  font-size: 14px;
                }
              }
              .comment-details {
                margin-left: 10px;
                &_header, &_footer {
                  display: flex;
                }
                &_header {
                  justify-content: space-between;
                  font-size: 14px;
                }
                &_body {
                  margin: 10px 0;
                }
                &_footer {
                  justify-content: flex-start;
                  div {
                    margin-right: 10px;
                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.cards{
  ul{
    li{
      @include transition(all ease .4s);
      display: inline-block;
      color: $dark-grey;
      span{
        font-family: 'Hearthstone';
        font-size: 41px;
      }
    }
  }

  .left-container{
    .sidebar{
      .hs{
        padding:10px;
      }
      .sidebar-icons {
        margin: 1em 0;
        text-align: center;
        li {
          span{
            @include transition(all ease .4s);
            padding: 5px;
            color: $dark-grey;
          }
          .tooltip {
            position: absolute;
            width: 200px;
            display: none;
            margin-left: -82px;
            margin-top:5px;
            .caret-up {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 5px 5px 5px;
              border-color: transparent transparent $pearl transparent;
              position: relative;
              left: calc(50% - 5px);
            }
            p{
              font-size: 12px;
              text-transform: uppercase;
              padding: 5px 0;
              background-color: $dark-grey;
              color: $pearl;
              border: 1px solid $pearl ;
            }
          }
          &:hover{
            div{
              display: block;
            }
          }
          &:first-child{
            .tooltip {
              margin-left: -38px;
              .caret-up {
                left: calc(27% - 5px);
              }
            }
          }
        }
      }
    }
  }
  .right-container{
    .topbar{
      .topbar-left{
        li{
          &:hover{
            span {
              color: navy;
            }
          }
        }
      }
      .topbar-right{
        li{
          width: 60px;
          text-align: center;


        }
      }
    }
    .cards-container{
      @include scrollbar;
      text-align:center;
      margin-top:10px;
      height: 748px ;
      overflow: auto;
      li{
        width: 248px;
        margin: 0;
        img{
          width:100%;
          height: 100%;
        }
      }
    }
  }

  .not-active{
    background-color: $dark-grey;
  }

  .mana-active{
    color: navy;
  }
}

.arena-picker, .create-deck{
  .pick-class{
    padding: 0 40px;
    @include box-shadow(0px, 0px, 70px, black);
    background-color: $dark-grey;
    margin:auto;
    text-transform: uppercase;
    text-align: center;
    tr{
      th{
        padding: 40px 0;
        font-size: 26px;
        color: $pearl;
      }
      td{
        @include transition(all .4s ease);
        cursor: pointer;
        width: 200px;
        height: 200px;
        a{
          width:100%;
          height:100%;
          display: block;
          div{
            position: relative;
            top: calc(50% - 52px);
            span{
              font-size: 65px;
            }
            p{
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
  .choosen-class-view{
    width: 100%;
    .left-container{
      .sidebar{
        .graph{
          padding: 10px;
          width: calc(100% - 20px);
          text-align: center;
          display: inline-flex;
          li {
            width: 100%;
            .bar {
              height:100px;
              margin: 2px auto;
              width:15px;
              background-color: $dark-grey;
            }
            .hs-icon{
              font-size: 25px;
            }
          }
        }
        table{
          width: 100%;
          tr{
            td:last-child{
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.arena-picker{
  .choosen-class-view{
    .right-container{
      ul{
        display: flex;
        width: 80%;
        margin:0 auto;
        justify-content: space-around;
        height: calc(100% - 50px);
        align-items: center;
        li{
          cursor: pointer;
          width: 23%;
          .card{
            @include transition(all ease .4s);
            height: 400px;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 150px;
            border:5px solid $dark-grey;
            color: $dark-grey;
            //background: rgba(0,0,0,.1);
            background: $light-grey;
            &:hover{
                @include box-shadow(0, 0, 10px, $dark-grey);
                color: $pearl;
            }
          }
          &:hover{
            .select2-wrapper{
              @include box-shadow(0, 0, 0, black);
            }
          }
          //input{
          //  @include transition(all ease .4s);
          //  width: calc(100% - 20px);
          //  font-size: 16px;
          //  padding: 10px;
          //  margin-top: 10px;
          //  background: transparent;
          //  border-bottom: 2px solid $dark-grey;
          //  color: $dark-grey;
          //  &:focus{
          //    border-color: $sea-color;
          //  }
          //}
          .Select{
            margin-top: 10px;
            &:focus{
              outline:none;
            }
            .Select-control{
              background-color: transparent;
              border:none;
              border-radius: 0;
              border-bottom: 2px solid $dark-grey;
            }

            .Select-placeholder{
              color: $dark-grey;
            }
            .Select-arrow {
              border-color: $dark-grey transparent transparent;
            }
            .Select-value{
              color: $dark-grey;
              border: 2px solid $dark-grey;
              background-color: $light-grey;
              .Select-value-icon{
                border-right: 1px solid $dark-grey;
                &:hover{
                  color: $dark-grey;
                }
                &:focus{
                  background-color: yellow;
                }
              }
            }
            .Select-clear-zone{
              color: $dark-grey;

            }
            .Select-menu{
              &::-webkit-scrollbar{width: 13px;}
              &::-webkit-scrollbar-thumb{background-color: $dark-grey; border-radius: 0;}
              &::-webkit-scrollbar-thumb:hover{background-color: $dark-grey;}
              &::-webkit-scrollbar-track{background-color: $light-grey;}
            }
            .Select-menu-outer{
              margin-top:0;
              background-color: $light-grey;
              border-radius: 0;
              border:0;
            }
            .Select-noresults{
              color: $pearl;
            }
            .Select-option{
              @include transition(all ease .4s);
              background-color: $pearl;
              border-bottom:1px solid $dark-grey;
              border-right: 1px solid $light-grey;
              &:last-child{
                border-radius: 0;
                border-bottom:0;
              }
              &:hover{
                background-color: $sea-color;
                color: $pearl;
              }

            }
          }
        }
      }
    }
  }

}

.expansions, .adventures{
  .left-container{
    background: $dark-grey;
    .sidebar{
      ul{
        li{
          background-color: $pearl;
          color: $dark-grey;
          margin: 10px;

          a{
            @include transition(all ease .4s);
            padding: 10px ;
            display: flex;
            span{
              font-size: 50px;
            }
            p{
              margin-left: 10px;
              margin-bottom:0;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
  .right-container{
    .before-extension-pick{
      width: calc(100% - 10px);
      height: 100%;
      margin: 0 10px;
      p{
        width: 100%;
        font-size: 40px;
        text-transform: uppercase;
        opacity: .4;
        padding-top: 64px;
      }
    }
    .content{
      .topbar{
        .content-navigation {
          display: flex;
          @include transition(all ease .4s);
          li {
            @include transition(all ease .4s);
            cursor: pointer;
            border-right: 1px solid $dark-grey;
            a {
              color: $dark-grey;
              display: block;
              padding: 15.4px;
            }
          }
        }
        .false-view{
          display: none;
        }
        .active-view {
          color: $dark-grey;
          display: flex;
        }
      }
      .about-extension{
        .false-view{
          display: none;
        }
        .active-view{
          color: $dark-grey;
          display: block;
        }
        div{
          width: 100%;
          text-align: center;
          padding-top: 10px;
        }
      }
      .extension-content {
        margin: 10px 0 0 10px;
        background-color: $light-grey;
        .false-view{
          display: none;
        }
        .active-view{
          color: $dark-grey;
          display: block;
        }
        .inner-container{
          padding: 10px;
          height: 729px;
        }
        .cards.cards-container {
          @include scrollbar;
          background: $pearl;
          text-align: center;
          overflow: auto;
          width: 100%;
          height: 749px;
          li {
            width: 16%;
            display: inline-block;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.expansions{
  .right-container{

    .content {
      .extension-content{
        .active-expansion{
          display: block;
        }
      }
    }
  }
}

.adventures{
  .right-container{
    .content {
      .extension-content {
        .active-adventure{
          display: block;
        }
        .cost{
          .cost-description{
            span{
              color: $pearl;
            }
          }
          table{
            width: 60%;
            padding: 10px;
            margin: 0 auto;
            tr{
              text-align: center;
              //background-color: rgba(255,255,255,.5);
              text-transform: uppercase;
              td, th{
                font-size: 14px;
                padding: 10px;
              }
              &:nth-child(odd){
                background-color: $odd-row;
              }
              &:nth-child(even){
                background-color: $even-row;
              }
            }
          }
        }

        .structure{

        }
        .bosses{
          p{
            padding:5px;
            background-color: $odd-row;
          }
          table{
            margin-top: 10px;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            tbody{
              tr{
                th{
                  width: 15%;
                  border:1px solid $dark-grey;
                }
                td{
                  @include transition(all ease .4s);
                  padding:10px;
                  cursor: pointer;
                  border: 1px solid $dark-grey;
                  a{
                    display: flex;
                    img{
                      @include box-shadow(0, 0, 10px, black);
                      @include transition(all ease .4s);
                      width:70px;
                      height:70px;
                    }
                    p{
                      line-height: 60px;
                      margin: 0 0 0 10px;
                      background: transparent;
                    }
                  }
                  &:hover{
                    img{
                      @include box-shadow(0, 0, 10px, $dark-grey);
                    }
                  }
                }
                &:nth-child(odd){
                  background-color: $odd-row;
                }
                &:nth-child(even){
                  background-color: $even-row;
                }
                &:hover{
                  td{
                    &:first-child{
                      background-color: $sea-color;
                      color: $pearl;
                    }
                  }
                }
              }
            }
          }
          .boss-guide-header{
            p{
              background: transparent;
              text-align: center;
            }
            ul{
              .block{
                width: 24%;
                margin: 7px;
                height: 335px;
                background-color: rgba(255,255,255,.4);
                display: inline-flex;
                .block-content{
                  width: 100%;
                }
                &:last-child{
                  width: calc(100% - 20px);
                  display: flex;
                  .block-content {
                    .top-boss-decks {
                      display: inline-flex;
                      width: 100%;
                      .deck {
                        background-color: $pearl;
                        width: 25%;
                        padding: 10px;
                        margin-right: 10px;
                        &:last-child {
                          margin-right: 0;
                        }
                        .background-icon {
                          position: absolute;
                          font-size: 130px;
                          opacity: 0.05;
                          padding-left: 235px;
                          padding-top: 8px;
                        }
                        .header {
                          display: flex;
                          padding-bottom: 4.5px;
                          border-bottom: 1px solid $dark-grey;
                          .hs-class {
                            span {
                              font-size: 35px;
                              position: relative;
                              top: 5px;
                              padding: 5px;
                              border: 2px solid black;
                              -webkit-border-radius: 50%;
                              -moz-border-radius: 50%;
                              border-radius: 50%;
                            }
                          }
                          .about {
                            margin-left: 10px;
                            .title {
                              font-weight: bold;
                              font-size: 16px;
                            }
                            .author, .created {
                              font-size: 12px;
                            }
                          }
                        }
                        .body {
                          margin-top: 4.5px;
                          .body-header {
                            display: flex;
                            .mode {
                              width: 10%;
                              text-align: center;
                              span {
                                color: darkgreen;
                                font-size: 25px;
                              }
                              p {
                                margin-left: 5px;
                              }
                            }
                            .dust-needed {
                              display: flex;
                              span {
                                font-size: 25px;
                              }
                            }
                            .mana-curve {
                              width: 14%;
                              display: flex;
                              li {
                                width: 5px;
                                background-color: $dark-grey;
                                height: 100%;
                                margin-right: 2px;
                              }
                            }
                            .deck-type, .dust-needed {
                              height: 27px;
                              line-height: 27px;
                            }
                            .deck-type {
                              width: 55%;
                            }
                            .dust-needed {
                              width: 21%;
                              text-align: right;
                            }
                          }
                          .body-body {
                            margin-top: 10px;
                            display: flex;
                            div {
                              text-align: left;
                              border-right: 1px solid $light-grey;
                              padding: 0 5px;
                              &:first-child {
                                padding-left: 0;
                              }
                              &:last-child {
                                padding-right: 0;
                                border-right: 0;
                              }
                            }
                          }
                          .body-footer {
                            margin-top: 7px;
                            display: flex;
                            div {
                              width: 33.33%;
                            }
                            .views {
                              display: flex;
                              opacity: .6;
                              span {
                                font-size: 10px;
                              }
                              p {
                                padding: 0;
                                margin: 0;
                              }
                            }
                            .comments {
                              text-align: center;
                            }
                            .votes {
                              text-align: right;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .boss-details-nav-el{
                padding:0;
                line-height: 40px;
                height: 40px;
                background: $dark-grey;
                color: $pearl;
                text-align: center;
              }
            }
          }
        }
        .class-challanges{

        }
      }
    }
  }
}

.create-deck{
  .cards-container{
    @include scrollbar;
    text-align:center;
    margin-top:10px;
    height: 749px ;
    overflow: auto;
    li{
      width: 241px;
      margin: 0;
      display: inline-block;
      img{
        width:100%;
        height: 100%;
      }
    }
  }
}

.pageContainer.forum{
  width: calc(100% - 20px);
  .caption{
    width: 50%;
    background-color: $light-grey;
    margin-right: 1%;
    h4{
      background-color: $dark-grey;
      color: $pearl;
      font-weight: normal;
      text-align: center;
      padding: 10px;
      margin:0;
      text-transform: uppercase;
    }
    &:last-child{
      margin-right:0 ;
    }
  }
  table{
    margin:10px;
    width: calc(100% - 20px);
    tr{
      background-color: $pearl;
      td{
        text-align:left;
        padding: 10px;
        h5{
          font-size: 16px;
          margin:0;
        }
        p{
          font-size: 12px;
          margin:0;
        }
        &:nth-child(3),
        &:nth-child(4){
          text-align: center;
        }
      }
      &:first-child{
        td{
          font-weight: bold;
          text-align: center;
        }
        &:hover{
          background-color: $pearl;
        }
      }
      &:hover{
        background-color: $sea-color;
  }
}
  }
}

.tournaments{
  iframe{
    html {
      body {
        background: transparent;
      }
    }
  }
}

.dashboard{
  .left-container{
    .sidebar{
      ul{
        li{
          h3{
            background: transparent;
            padding: 0;
            color: #474143;
            width: 95%;
            border-bottom: 1px solid black;
            line-height: 0.1px;
            margin: 1em auto;
            text-align: center;
            span{
              background-color: $light-grey;
              padding: 0 10px;
              text-align: center;
            }
          }
        }
        label{
          display: flex;
          span{
            font-size:25px;
          }
        }
      }
    }
  }
  .right-container{
    .topbar{
      li{
        margin-right: 10px;
        &:first-child{
          margin-left: 10px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}


.deck-snippet{
  position: relative;
  background-color: $pearl;
  width: 37.4vh;
  padding: 1vh;
  margin-right: 1vh;
  height: 14.4vh;
  &:last-child{
    margin-right:0;
  }
  .background-icon{
    position: absolute;
    font-size: 130px;
    opacity: 0.05;
    padding-left: 57%;
    padding-top: 8px;
  }
  .deck-snippet-header{
    display: flex;
    padding-bottom: 4.5px;
    border-bottom: 1px solid $dark-grey;
    .deck-snippet-hs-class {
      span {
        font-size: 35px;
        position: relative;
        top: 5px;
        padding: 5px;
        border: 2px solid black;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .deck-snippet-about{
      margin-left: 10px;
      .deck-snippet-title{
        font-weight: bold;
        font-size: 16px;
      }
      .deck-snippet-author, .deck-snippet-created{
        font-size:12px;
      }
    }
  }
  .deck-snippet-body{
    margin-top: 4.5px;
    height: calc(9.5vh - 10px);
    .deck-snippet-body-header{
      display: flex;
      .deck-snippet-mode {
        width: 10%;
        text-align: center;
        span {
          color: darkgreen;
          font-size: 25px;
        }
        p{
          margin-left: 5px ;
        }
      }
      .deck-snippet-dust-needed{
        display: flex;
        span{
          font-size:25px;
        }
      }
      .deck-snippet-mana-curve{
        width:14%;
        display: flex;
        li{
          width: 5px;
          background-color: $dark-grey;
          height: 100%;
          margin-right: 2px;
        }
      }
      .deck-snippet-type, .deck-snippet-dust-needed{
        height:27px;
        line-height: 27px;
      }
      .deck-snippet-type{
        width: 55%;
      }
      .deck-snippet-dust-needed{
        width: 21%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .deck-snippet-body-body{
      margin-top: 10px;
      display: flex;
      div{
        text-align: left;
        border-right: 1px solid $light-grey;
        padding: 0 5px;
        &:first-child{
          padding-left:0;
        }
        &:last-child{
          padding-right:0;
          border-right:0;
        }
      }
    }
    .deck-snippet-body-footer{
      margin-top:7px;
      display: flex;
      div{
        width: 33.33%;
        align-items: center;
        display: flex;
        span{
          font-size: 16px;
          margin-right: 5px;
        }
      }
      .deck-snippet-views{
        display: flex;
        opacity: .6;
        p{
          padding:0;
          margin: 0;
        }
      }
      .deck-snippet-comments{
        justify-content:center;
      }
      .deck-snippet-votes{
        justify-content: flex-end;

      }
    }
  }
}