@import '_reset';
@import '_colors';
@import '_fonts';
@import '_grid';
@import '_mixins';
body{
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: $dark-grey;
  text-align: right;
  ul {
    li {
      @include transition(all ease .4s);
      color: $primary-font-color;
      display: inline-block;
      text-transform: uppercase;
      width: 9.7%;
      border-right: 1px solid #666;
      ul{
        background-color: $dark-grey;
        display: none;
        position: absolute;
        width: 9.7%;
        margin-top: 15px;
        li{
          display: block;
          width:100%;
          border:none;
          &:first-child{
            border-left: none;
          }
          &:last-child{
            background-color: inherit;
          }
        }
      }
      &:first-child {
        border-left: 1px solid #666;
      }
      &:last-child {
        background-color: #00a99c;
      }

      &:hover {
        background-color: #00a99c;
        ul{
          display: block;
        }
      }

      a {
        display: block;
        text-align: center;
        padding: 16px 0;
        span {
          font-family: 'Hearthstone';
          font-size: 41px;
        }
      }
      .active {
        @include transition(all ease .4s);
        background-color: $pearl;
        color: $dark-grey;
        &:hover{
          color: $pearl;
          background-color: #00a99c;
        }
      }
    }
  }
}

.pageContainer{
  margin-top: 10px;
}

.home{
  ul {
    display: flex;
    width: inherit;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;

    li{
      margin-bottom: 10px;
      position: relative;
      color: black;
      background-color: $light-grey;
      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4){
        margin-bottom: 0;
      }
    }
    .image-container{
      img{
        max-width:100%;
        max-height:100%;
        display:block;
      }
    }
  }

  .block__element {
    position: relative;
    .block__element--title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 10px;
      background-color: rgba(255,255,255,.5);
      text-transform: uppercase;
    }
  }
}