@import './grid';
@import '../mixins';

@include screen('mobile', 500px) {
  #container {
    .container__index {
      margin-right: 0;
      .home__list {
        .home__block {
          width: calc(50% - 1vh);
          height: 27vh;
          .home__block--header {
            height: 100%;
            padding: 0;
            a {
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              width: 100%;
              span{
                font-size: 4em;
              }
              p{
                margin-top: 10px;
                margin-left: 0;
              }
            }
            ul{
              display: none;
            }
          }
          .home__block--body {
            display: none;
            height: 0;
          }
        }
      }
    }

    .container__page--twoSided {
      &.expansions, &.adventures {
        .container__page--right {
          .topbar{
            .topbar__extension-navigation{
              width: 100%;
              justify-content: space-between;
              li{
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                &:last-child{
                  border-right: 0;
                }
              }
            }
          }
          .content {
            .container__classChallenges {
              li:last-child {
                display: none;
              }
            }
          }
        }
      }
    }
    footer{
      .copyright{
        justify-content: flex-start;
        &:before{
          display: none;
        }
      }
      .media{
        a {
          &:last-child {
            margin-right: 0;
          }
          span{
            font-size: 1em;
          }
        }
      }
    }
  }
}

@include screen('mobile_mini'){
  #container {
    .container__page--twoSided {
      &.expansions, &.adventures {
        grid-template-columns: 15vw auto;
        .container__page--left {
          h3{
            justify-content: center;
          }
          .sidebar__body--extensions {
            li {
              a {
                justify-content: center;
                padding: 5px;
                span{
                  padding: 3px;
                }
                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include screen('tablet', 800px){
  #container{
    .container__index.home {
      .home__list {
        .decks {
          > div {
            .class-selection {
              width: calc(80% + 8px);
            }
          }
          .home__block--body{
            .left-container{
              width: 20%;
            }
            .right-container{
              width: 80%;
              padding: 1vh;
              .hot-decks{
                display: flex;
                padding: 0;
                overflow-x: auto;
                @include scrollbar();
                a {
                  min-width: calc(25% - 1vh + 2px);
                  margin-right: 1vh;
                  margin-bottom: 1vh;
                  &:last-child{
                    margin-right: 0;
                  }
                  .deckSnippet__body--footer{
                    flex-direction: column-reverse;
                    align-items: center;
                    .wrapper{
                      width: 100%;
                      justify-content: space-evenly;
                      margin-top: 5px;
                    }
                  }
                }
              }
            }
          }
        }

        .expansions {
          div {
            .extension {
              .extension__sidebar {
                width: 30%;
              }
              .extension__content {
                width: 70%;
              }
            }
          }
        }
        .reddit {
          a {
            grid-template-columns: 20% calc(80% - 5px);
            .upvotes{
              flex-direction: initial;
              justify-content: space-around;
              align-items: center;
              margin-top: 3px;
              span{
                margin-bottom: 0;
                padding-top: 2px;
              }
              p{
                font-size: 13px;
              }
            }
            .title {
              display: flex;
              align-items: center;
            }
            .created, .comments {
              display: none;
            }
          }
        }
      }
    }
    .container__page--twoSided {
      &.expansions, &.adventures {
        grid-template-columns: 30vw auto;
        .container__page--right{
          .topbar{
            .topbar__extension-navigation{
              width: 100%;
              justify-content: space-between;
              li{
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                &:last-child{
                  border-right: 0;
                }
              }
            }
          }
          .content{
            .container__classChallenges{
              .container__classChallenges--content {
                padding-left: 1vh;
                height: 100%;
                width: 100%;
                overflow: auto;
                @include scrollbar();
                li:last-child {
                  display: none;
                }
                .container__blocks--block:nth-last-child(-n + 3) {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include screen('tablet_mini') {
  #container {
    .container__index.home {
      .home__list {
        .decks {
          > div {
            > a {
              width: calc(25% - 7px);
            }
            .class-selection {
              width: calc(75% + 7px);
            }
          }
          .home__block--body {
            .left-container {
              width: 25%;
            }
            .right-container {
              width: 75%;
              .hot-decks {
                a {
                  min-width: calc(33% - 0.33vh + -1px);
                }
              }
            }
          }
        }
      }
    }
  }
}
