@import '../../../../../../../components/loaders/linear/loader-mixins';


.created-details {
  display: grid;
  text-align: right;
  margin-right: 1vh;
  align-items: center;

  &.loading {
    height: 100%;
    width: 100%;
    box-shadow: none;
    @include linearLoader();
  }
}