#container .container__page.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2vh);
  margin: 0 1vh;
  background: #474143; }
  #container .container__page.welcome .sections {
    overflow: auto;
    margin: 1vh; }
    #container .container__page.welcome .sections::-webkit-scrollbar {
      width: 8px; }
    #container .container__page.welcome .sections::-webkit-scrollbar-thumb {
      background-color: rgba(231, 226, 218, 0.2);
      border-radius: 4px; }
    #container .container__page.welcome .sections::-webkit-scrollbar-thumb:hover {
      background-color: #E7E2DA; }
    #container .container__page.welcome .sections::-webkit-scrollbar-track {
      background-color: transparent; }
    #container .container__page.welcome .sections section {
      padding: 10px 10px 50px;
      margin-bottom: 100px;
      margin-right: 1vh;
      color: #E7E2DA; }
      #container .container__page.welcome .sections section header {
        text-align: center;
        margin-bottom: 50px; }
        #container .container__page.welcome .sections section header h1 {
          text-transform: uppercase;
          color: #E7E2DA;
          position: relative;
          display: inline-block;
          margin-bottom: 20px; }
          #container .container__page.welcome .sections section header h1:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 1px;
            background: #E7E2DA;
            width: 150%;
            transform: translate(-50%); }
        #container .container__page.welcome .sections section header h4 {
          color: #00a99c;
          font-style: italic; }
      #container .container__page.welcome .sections section .section__content {
        display: flex; }
        #container .container__page.welcome .sections section .section__content > div {
          flex-basis: 0; }
        #container .container__page.welcome .sections section .section__content .section__content--img {
          flex-grow: 6;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          #container .container__page.welcome .sections section .section__content .section__content--img img {
            width: 100%;
            max-width: 800px;
            box-shadow: 0 0 20px black; }
        #container .container__page.welcome .sections section .section__content .section__content--details {
          flex-grow: 6;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative; }
          #container .container__page.welcome .sections section .section__content .section__content--details ul {
            position: relative;
            z-index: 2; }
            #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo {
              display: flex;
              color: #A69E9D;
              margin-bottom: 10px;
              align-items: center;
              cursor: default; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo.implemented {
                color: #b5de3f; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo.not-implemented {
                color: #fa5210; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo p {
                font-style: italic; }
                #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo p:first-letter {
                  text-transform: capitalize; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo span {
                padding: 5px;
                border: 2px solid;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center; }
          #container .container__page.welcome .sections section .section__content .section__content--details .hs-icon {
            will-change: transform;
            position: absolute;
            z-index: 1;
            font-size: 200px;
            opacity: .2;
            animation: animate 5s infinite; }
      #container .container__page.welcome .sections section .useCases {
        display: flex; }
        #container .container__page.welcome .sections section .useCases > div .hs-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 150px;
          opacity: .2;
          z-index: 1; }
        #container .container__page.welcome .sections section .useCases > div .hero {
          position: absolute;
          font-size: 30px;
          top: -30px;
          left: -30px;
          opacity: .5; }
        #container .container__page.welcome .sections section .useCases > div p {
          margin-bottom: 5px;
          z-index: 2;
          position: relative; }
        #container .container__page.welcome .sections section .useCases > div q {
          font-style: italic;
          color: #A69E9D; }
        #container .container__page.welcome .sections section .useCases > div a {
          color: #00a99c;
          text-decoration: underline; }
      #container .container__page.welcome .sections section:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.05); }
        #container .container__page.welcome .sections section:nth-child(even) > div {
          flex-direction: row-reverse; }
        #container .container__page.welcome .sections section:nth-child(even) .section__content--img {
          justify-content: flex-start; }

@keyframes animate {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

/*# sourceMappingURL=styles.css.map */
