@import '../../../styles/colors';
@import '../../../styles/mixins';

#container .container__page.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2vh);
  margin: 0 1vh;
  background: #474143;

  .sections {
    overflow: auto;
    margin: 1vh;
    @include slim-scrollbar();

    section {
      padding: 10px 10px 50px;
      margin-bottom: 100px;
      margin-right: 1vh;
      color: $pearl;

      &:nth-child(even){
        background-color: rgba(white, .05);

        > div {
          flex-direction: row-reverse;
        }
      }

      header {
        text-align: center;
        margin-bottom: 50px;

        h1 {
          text-transform: uppercase;
          color: $pearl;
          position: relative;
          display: inline-block;
          margin-bottom: 20px;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 1px;
            background: $pearl;
            width: 150%;
            transform: translate(-50%);
          }
        }

        h4 {
          color: $sea-color;
          font-style: italic;
        }
      }

      .section__content {
        display: flex;

        img, > div {
          flex-basis: 0;
        }

        img {
          flex-grow: 5;
        }

        > div {
          flex-grow: 7;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          ul {
            position: relative;
            z-index: 2;

            .pageInfo {
              display: flex;
              color: $light-grey;
              margin-bottom: 10px;
              align-items: center;
              cursor: default;

              &.implemented {
                color: $naxx;
              }

              &.not-implemented {
                color: $bm
              }

              p {
                font-style: italic;
                &:first-letter{
                  text-transform: capitalize;
                }
              }

              span {
                padding: 5px;
                border: 2px solid;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          .hs-icon {
            will-change: transform;
            position: absolute;
            z-index: 1;
            font-size: 200px;
            opacity: .2;
            animation: animate 5s infinite;
          }
        }
      }


      .useCases {
        display: flex;

        &__prev, &__next {
          flex-grow: 1;
          padding: 20px;
          font-size: 50px;
          display: flex;
          align-items: center;
          cursor: pointer;
          opacity: .3;
          @include transition(all ease .4s);

          &:hover {
            opacity: 1;
          }
        }

        > div {
          flex-grow: 5;
          padding: 0 20px;
          letter-spacing: 1.1px;
          line-height: 25px;

          p {
            margin-bottom: 5px;
          }
          q{
            font-style: italic;
            color: $light-grey;

          }

          a {
            color: $sea-color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
