#container .container__page.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2vh);
  margin: 0 1vh;
  background: #474143; }
  #container .container__page.welcome .sections {
    overflow: auto;
    margin: 1vh;
    scroll-behavior: smooth; }
    #container .container__page.welcome .sections::-webkit-scrollbar {
      width: 8px; }
    #container .container__page.welcome .sections::-webkit-scrollbar-thumb {
      background-color: rgba(231, 226, 218, 0.2);
      border-radius: 4px; }
    #container .container__page.welcome .sections::-webkit-scrollbar-thumb:hover {
      background-color: #E7E2DA; }
    #container .container__page.welcome .sections::-webkit-scrollbar-track {
      background-color: transparent; }
    #container .container__page.welcome .sections section {
      padding: 10px 10px 50px;
      margin-right: 1vh;
      color: #E7E2DA;
      position: relative; }
      #container .container__page.welcome .sections section.introduction {
        height: calc(83vh - 20px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center; }
        #container .container__page.welcome .sections section.introduction h1 {
          color: #E7E2DA; }
          #container .container__page.welcome .sections section.introduction h1:first-child {
            color: #00a99c; }
        #container .container__page.welcome .sections section.introduction p {
          color: #A69E9D; }
        #container .container__page.welcome .sections section.introduction > div {
          flex-grow: 1; }
        #container .container__page.welcome .sections section.introduction .img-wrapper {
          display: flex;
          margin-bottom: 10px;
          flex-grow: 11;
          justify-content: center;
          align-items: center; }
          #container .container__page.welcome .sections section.introduction .img-wrapper img {
            box-shadow: 0 0 20px black;
            width: 100%;
            max-width: 800px; }
        #container .container__page.welcome .sections section.introduction .arrow {
          position: absolute;
          bottom: 20px;
          cursor: pointer;
          left: 50%;
          height: 40px;
          width: 40px;
          font-size: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translate(-50%); }
          #container .container__page.welcome .sections section.introduction .arrow span {
            margin-left: 7px;
            transform: rotate(90deg);
            animation: scrollDownArrow_animation 1.5s infinite; }
      #container .container__page.welcome .sections section:first-child {
        padding-bottom: 10px; }
      #container .container__page.welcome .sections section:last-child {
        padding-bottom: 35px; }
      #container .container__page.welcome .sections section header {
        text-align: center;
        margin-bottom: 50px; }
        #container .container__page.welcome .sections section header h1 {
          text-transform: uppercase;
          color: #E7E2DA;
          position: relative;
          display: inline-block;
          margin-bottom: 20px; }
          #container .container__page.welcome .sections section header h1:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 1px;
            background: #E7E2DA;
            width: 150%;
            transform: translate(-50%); }
        #container .container__page.welcome .sections section header h4 {
          color: #00a99c;
          font-style: italic; }
      #container .container__page.welcome .sections section .section__content {
        display: flex; }
        #container .container__page.welcome .sections section .section__content > div {
          flex-basis: 0;
          padding: 5px;
          margin: 5px; }
        #container .container__page.welcome .sections section .section__content .section__content--img {
          flex-grow: 6;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end; }
          #container .container__page.welcome .sections section .section__content .section__content--img img {
            width: calc(100% - 130px);
            max-width: 800px;
            height: 100%;
            box-shadow: 0 0 20px black; }
        #container .container__page.welcome .sections section .section__content .section__content--details {
          flex-grow: 5;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative; }
          #container .container__page.welcome .sections section .section__content .section__content--details ul {
            position: relative;
            z-index: 2; }
            #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo {
              display: flex;
              color: #A69E9D;
              margin-bottom: 10px;
              align-items: center;
              cursor: default; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo.implemented {
                color: #b5de3f; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo.not-implemented {
                color: #fa5210; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo p {
                font-style: italic; }
                #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo p:first-letter {
                  text-transform: capitalize; }
              #container .container__page.welcome .sections section .section__content .section__content--details ul .pageInfo span {
                padding: 5px;
                border: 2px solid;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center; }
          #container .container__page.welcome .sections section .section__content .section__content--details .hs-icon {
            will-change: transform;
            position: absolute;
            z-index: 1;
            font-size: calc(8em + 1vmin);
            opacity: .2;
            animation: animate 5s infinite; }
      #container .container__page.welcome .sections section .useCases {
        display: flex; }
        #container .container__page.welcome .sections section .useCases > div .hs-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 150px;
          opacity: .2;
          z-index: 1; }
        #container .container__page.welcome .sections section .useCases > div .hero {
          position: absolute;
          font-size: 30px;
          top: -30px;
          left: -30px;
          opacity: .5; }
        #container .container__page.welcome .sections section .useCases > div p {
          margin-bottom: 5px;
          z-index: 2;
          position: relative; }
        #container .container__page.welcome .sections section .useCases > div q {
          font-style: italic;
          color: #A69E9D; }
        #container .container__page.welcome .sections section .useCases > div a {
          color: #00a99c;
          text-decoration: underline; }
      #container .container__page.welcome .sections section:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.05); }
        #container .container__page.welcome .sections section:nth-child(even) > div:not(.useCases) {
          flex-direction: row-reverse; }
        #container .container__page.welcome .sections section:nth-child(even) .section__content--img {
          justify-content: flex-start; }

@keyframes animate {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }
@keyframes scrollDownArrow_animation {
  0% {
    transform: rotate(90deg) translate(-10px, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(90deg) translate(10px, 0);
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
