@import '../mixins';
@import '../colors';

/*
 * Rarity
 */
.common{
  @include icon_color($common);
}
.rare{
  @include icon_color($rare);
}
.epic{
  @include icon_color($epic);
}
.legendary{
  @include icon_color($legendary);
}

/*
 * Modes
 */

//A.K.A standard
.mammoth, .kraken{
  @include icon_color($standard);
}
.wild{
  @include icon_color($wild);
}
//.expansions, .adventures{
//  @include icon_color($extensions);
//}

//Mean Streets of Gadgetzan's Families
.grimy-goons, .jade-lotus, .kabal{
  @include icon_color($family);
}