.facebook {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .facebook.active:not(.hearthstone), .facebook:hover {
    color: #fff;
    background-color: #3b5998; }
    .facebook.active:not(.hearthstone) .domain a, .facebook:hover .domain a {
      color: #fff; }

.twitter {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .twitter.active:not(.hearthstone), .twitter:hover {
    color: #55acee;
    background-color: #fff; }
    .twitter.active:not(.hearthstone) .domain a, .twitter:hover .domain a {
      color: #55acee; }

.youtube {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .youtube.active:not(.hearthstone), .youtube:hover {
    color: #fff;
    background-color: #bb0000; }
    .youtube.active:not(.hearthstone) .domain a, .youtube:hover .domain a {
      color: #fff; }

.reddit {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .reddit.active:not(.hearthstone), .reddit:hover {
    color: #fff;
    background-color: #ff4006; }
    .reddit.active:not(.hearthstone) .domain a, .reddit:hover .domain a {
      color: #fff; }

.battlenet {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .battlenet.active:not(.hearthstone), .battlenet:hover {
    color: #00c0f6;
    background-color: #1e293f; }
    .battlenet.active:not(.hearthstone) .domain a, .battlenet:hover .domain a {
      color: #00c0f6; }

.twitch {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .twitch.active:not(.hearthstone), .twitch:hover {
    color: #fff;
    background-color: #6441a4; }
    .twitch.active:not(.hearthstone) .domain a, .twitch:hover .domain a {
      color: #fff; }

.hearthstone {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .hearthstone.active:not(.hearthstone), .hearthstone:hover {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.2); }
    .hearthstone.active:not(.hearthstone) .domain a, .hearthstone:hover .domain a {
      color: inherit; }

.false.hearthstone, .false.default {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .false.hearthstone.active:not(.hearthstone), .false.hearthstone:hover, .false.default.active:not(.hearthstone), .false.default:hover {
    color: #474143;
    background-color: rgba(0, 0, 0, 0.2); }
    .false.hearthstone.active:not(.hearthstone) .domain a, .false.hearthstone:hover .domain a, .false.default.active:not(.hearthstone) .domain a, .false.default:hover .domain a {
      color: #474143; }

/*# sourceMappingURL=social-media.css.map */
