@import '../../../styles/colors';
@import '../../../styles/mixins';


@include screen('tabletBelow') {
  .decklistSidebar {
    grid-template-rows: 4vh auto;

    &__topbar {
      li {
        font-size: 1.5em;
      }
    }

    &__content {
      li {
        li {
          font-size: 1.5em;
        }
      }
    }

    &__card {
      &--action {
        .icon-cross {
          &:before {
            margin-left: 0;
            margin-right: -1px;
          }
        }
      }
    }
  }
}

@include screen('tablet'){
  .decklistSidebar{
    &__content {
      li {
        font-size: 2em;
      }
    }
  }
}

@include screen('mobile'){
  .decklistSidebar{
    &__content {
      li {
        font-size: 2em;
      }
    }
  }
}