@import '../../../styles/colors';
@import '../../../styles/mixins';

.decklistSidebar {
  display: grid;
  grid-template-rows: 30px auto;
  overflow: hidden;

  ul {
    width: 100%;
  }

  &__topbar {
    background: $dark-grey;
    color: $pearl;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 5px 14px 5px 0;
    display: flex;

    li {
      font-size: calc(.3em + 1vmin);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__card {
    &--name {
      padding-right: 5px;
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          margin: 0 4px;
        }
      }
    }

    &--cost {
      width: 15%;
    }

    &--action {
      display: flex;
      cursor: pointer;
      padding-right: 5px;
      @include transition(all ease .4s);

      .icon-cross {
        background: $dark-grey;
        padding: 5px;
        color: $pearl;
        border-radius: 50%;
        font-size: 7px;
        display: flex;
        @include transition(all ease .4s);
      }

      &:hover {
        .icon-cross {
          background: $pearl;
          color: $dark-grey;
          @include box-shadow(0, 0, 10px, $dark-grey);
        }
      }
    }
  }

  &__content {
    overflow: auto;
    font-size: calc(.2em + 1vmin);
    @include scrollbar();

    li {
      display: flex;
      align-items: center;
      padding: 5px 0;

      > div {
        text-align: center;
        height: 100%;
      }
    }
  }

  &__editing:not(.decklistSidebar__inDeckCreation) {
    grid-template-rows: 30px 85% auto;

    .decklistSidebar__content {
      @include box-shadow(-5px, 0, 20px, $dark-grey, true);
      @include striped-background($white-010, $white-020);
    }
  }
}