@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.create-deck-selection.create-deck{
  display: grid;
  grid-template-columns: 70% 5% 25%;
  margin: 0 1vh;

  > div {
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
  }
}