@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.create-deck-selection.create-deck{
  display: grid;
  grid-template-columns: 70% 5% 25%;

  > div {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.container__selection{
  background-color: $dark-grey;
  justify-content: center;
  align-content: center;

  h3{
    font-size:2.6vh;
    justify-self: center;
    align-self: center;
    color: $pearl;
    margin-top:1vh;
  }

  ul{
    margin:1vh;

    li{
      @include transition(all .4s ease);
      width: 100%;
      height: 100%;
      justify-self: center;
      align-self: center;

      a{
        cursor: pointer;
        display: grid;
        text-align: center;
        width: 100%;
        height: 100%;
        align-content: center;

        span{
          font-size: 6.5vh;
        }

        p{
          margin-top: 2vh;
        }
      }
    }
  }
}