@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';

.author-details{
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.deleted {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.loading{
    height: 100%;
    width: 100%;
    @include linearLoader();
  }

  img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  > div:not(.social-media-wrapper){
    align-items: center;
    margin-right: 10px;
  }

  .general-info-wrapper{
    margin-right: 10px;

    .reputation-tooltip{
      a{
        text-decoration: underline;
        color: $sea-color;
      }
    }

    .reputation {
      display: flex;
      align-items: center;
      opacity: .5;
      transform: translateZ(0);
      @include transition(all ease .4s);

      span {
        font-size: calc(.4em + 1vmin);
        margin-right: 5px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .game-details-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    p, span{
      margin-right: 10px;

      &.battlenet {
        padding: 3px;
      }
    }
  }

  .social-media-wrapper{
    display: grid;
    grid-template-rows: repeat(2, 20px);
    grid-template-columns: repeat(2, 20px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    a {
      &.profile-not-defined{
        cursor: default;
      }

      span {
        font-size: 12px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}