@import '../../../styles/colors';
@import '../../../styles/mixins';

.container__page--mobile-twoSided {
  grid-template-rows: 4.5vh 78.5vh;

  .container__page--mobileTopbar {
    height: 100%;
    background: $dark-grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $pearl;
    position: relative;
    z-index: 1;
    cursor: pointer;
    @include box-shadow(0, 2px, 5px, $dark-grey);

    > div, > p {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include transition(all ease .4s);
      //font-size: calc(.3em + 1vmin);

      &:hover {
        background: darken($sea-color, 10%);
      }

      &.active {
        background: $sea-color;
        
        &:hover {
          background: $sea-color;
        }
      }
    }

    > div {
      p {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button {
        margin-left: 10px;
      }
    }
  }

  .container__page--mobileContentWrapper {
    padding-bottom: 10px;
    height: 100%;

    .content {
      //height: calc(100% - 10px);
      height: 100%;
      overflow: auto;
      margin-right: 10px;
      margin-top: 10px;
      @include scrollbar();

      .container__cards {
        justify-content: center;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
          cursor: pointer;
          position: relative;
          overflow: hidden;
          width: calc(100% / 8);

          .tooltip-count {
            position: absolute;
            padding: .5vh;
            width: calc(100% - 1vh);
            text-align: center;
            span {
              background-color: $dark-grey;
              color: $pearl;
              padding: .5vh 1vh;
            }
          }

          .img-wrapper {
            @include transition(all ease .4s);
            background: url('http://media-hearth.cursecdn.com/attachments/39/664/cardback_0.png') center center no-repeat;
            background-size: contain;
            position: absolute;
            height: 75%;
            top: 15%;
            width: 100%;
            left: 0;
            z-index: 1;
            opacity: 1;
          }

          img {
            position: relative;
            z-index: 2;
            @include transition(all ease .4s);
            width: 100%;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0);
            //transform: scale(0.80);
            &.choosen {
              opacity: .3;
            }
            &.disabled {
              background: rgba(255, 0, 0, .3);
              cursor: not-allowed;
            }
            &.choosen.disabled {
              background: transparent;
              cursor: pointer;
            }
          }

          &.choosen {
            .img-wrapper {
              opacity: 0;
            }
          }
        }
      }
    }
    .container__mobileFilters {
      height: 100%;

      .topbar{
        background: $light-grey;
      }

      .container__page--inner {
        display: block !important;
        height: calc(100% - 10px);
        overflow: auto;
        margin-top: 10px;
        margin-right: 10px;
        @include slim-scrollbar($pearl);

        .sidebar__header {
          display: none;
        }

        .sidebar__body {
          margin: 0;
          display: flex;
          flex-wrap: wrap;

          .sidebar__body--filter-wrapper {
            width: calc(33% - 1.72vh);
            display: flex;
            align-items: center;
            justify-content: center;

            &.sidebar__body--filter-slider{
              display: inline;

              .sidebar__body--filter-slider-antd-wrapper {
                height: calc(100% - 17px);
                width: 100%;
                transform: translateY(25%);
              }
            }

            ul {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .sidebar__body--filter-wrapper-sets {
            display: flex;
            width: calc(66% - .4vh);
            justify-content: space-evenly;

            > div {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}