@import '../../../styles/mixins';

@include screen('laptop') {
  .container__cards {
    li {
      width: calc(100% / 6) !important;
    }
  }
}

@include screen('tablet') {
  .container__cards {
    li {
      width: calc(100% / 5) !important;
    }
  }
}

@include screen('mobile') {
  .container__page--mobileTopbar{
    //padding-right: 24px;
  }

  .container__page--inner {
    @include slim-scrollbar();
  }

  .container__cards {
    li {
      width: calc(100% / 4) !important;
    }
  }

  .sidebar__body--filter-wrapper {
    width: calc(50% - 1vh - 10px) !important;
  }
}

@include screen('mobile_mini') {
  .container__cards {
    li {
      width: calc(100% / 2) !important;
    }
  }

  .sidebar__body--filter-wrapper {
    width: calc(100% - 10px) !important;
  }
}

