@import '../../../styles/mixins';

@include screen('laptop') {
  .container__cards {
    li {
      width: calc(100% / 6) !important;
    }
  }
}

@include screen('tablet') {
  .container__cards {
    li {
      width: calc(100% / 5) !important;
    }
  }
}

@include screen('mobile') {
  .container__cards {
    li {
      width: calc(100% / 4) !important;
    }
  }
}

@include screen('mobile_mini') {
  .container__cards {
    li {
      width: calc(100% / 2) !important;
    }
  }
}

