@import '../colors';

@mixin sign_up_first_step_progress_bar($color){
  li:first-child{
    border-color: $color;
    color: $color;
  }
  &:before{
    background: linear-gradient(90deg, $color 50%, $light-grey 50%);
  }
}

@mixin sign_up_second_step_progress_bar($color, $second-color, $distance){
  li:first-child{
    border-color: $color;
    color: $color;
  }
  li:last-child{
    border-color: $second-color;
    color: $second-color;
  }
  &:before{
    background: linear-gradient(90deg, $monk $distance, $second-color $distance);
  }
}