@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.redditPosts {
  margin: 1vh 1vh 0 1vh;
  display: grid;
  grid-template-rows: 4.5vh 71vh;
  grid-row-gap: 1vh;

  &__header {
    background: $dark-grey;
    color: $pearl;
    display: flex;
    align-items: center;
    padding-right: calc(1vh + 14px);
    text-align: center;
    padding-left: 5px;
  }

  &__body {
    height: 100%;
    overflow: auto;
    padding-right: 1vh;
    @include scrollbar();

    li {
      border-left: 1px solid $dark-grey !important;
      border-right: 1px solid $dark-grey !important;
      border-bottom: 1px solid $dark-grey !important;

      &:first-child {
        border-top: 1px solid $dark-grey !important;
      }

      a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 5px;
      }
    }

    .redditPosts__body--mobile {
      border: 1px solid $light-grey !important;
      margin-bottom: 10px;
      @include box-shadow(0, 0, 5px, rgba(black, .5));

      &:first-child {
        border-top: 1px solid $light-grey !important;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        flex-direction: column;
        position: relative;

         > div {
          width: 100%;
        }

        .redditPosts__snippet--header {
          display: flex;
          font-size: initial;
          flex-direction: column-reverse;

          .redditPosts__snippet--title {
            width: initial;

            > span {
              position: absolute;
              right: 1vh;
              font-size: calc(3em + 1vmin);
              top: 50%;
              transform: translateY(-50%);
              opacity: .1;
            }
          }

          .redditPosts__snippet--created {
            width: initial;
            font-size: calc(.5em + 1vmin);
            text-align: left;
            opacity: .5;
          }
        }

        .redditPosts__snippet--body {
          margin: 1vh 0;
          @include truncate(100%);
        }

        .redditPosts__snippet--footer {
          display: flex;
          justify-content: space-evenly;
          flex-direction: row-reverse;

          span {
            font-size: calc(.8em + 1vmin) !important;
          }

          p {
            font-size: calc(.6em + 1vmin) !important;
          }
        }
      }
    }
  }

  &__snippet {
    &--upvotes,
    &--comments {
      width: 10%;
    }

    &--created{
      width: 20%;
      text-align: center;
      font-size: calc(.3em + 1vmin);
    }

    &--title {
      width: 60%;
      display: flex;
      align-items: center;

      > span {
        margin-right: 10px;

      }

      .author {
        display: flex;
        align-items: center;
        font-size: calc(.5em + .5vmin);
        opacity: .5;

        > span {
          display: flex;
          align-items: center;
          color: $reddit_background;
          margin-left: 5px;
        }
      }
    }

    &--hasIcon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: calc(.5em + 1vmin) !important;
        margin-bottom: 3px;
      }

      p {
        font-size: calc(.3em + 1vmin);
        opacity: .5;
      }
    }
  }


}