@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.redditPosts {
  margin-top: 1vh;
  margin-left: 1vh;
  display: grid;
  grid-template-rows: 4.5vh 71vh;
  grid-row-gap: 1vh;

  &__header {
    background: $dark-grey;
    color: $pearl;
    display: flex;
    align-items: center;
    padding-right: calc(1vh + 14px);
    text-align: center;
    padding-left: 5px;
  }

  &__body {
    height: 100%;
    overflow: auto;
    padding-right: 1vh;
    @include scrollbar();

    li {
      border-left: 1px solid $dark-grey !important;
      border-right: 1px solid $dark-grey !important;
      border-bottom: 1px solid $dark-grey !important;

      &:first-child {
        border-top: 1px solid $dark-grey;
      }

      &:nth-child(odd):not(.active){
        background: rgba(black, .1);
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 5px;
      }
    }
  }

  &__snippet {
    &--upvotes,
    &--comments {
      width: 10%;
    }

    &--created{
      width: 20%;
      text-align: center;
      font-size: calc(.3em + 1vmin);
    }

    &--title {
      width: 60%;
    }

    &--hasIcon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: calc(.5em + 1vmin) !important;
        margin-bottom: 3px;
      }

      p {
        font-size: calc(.3em + 1vmin);
        opacity: .7;
      }
    }
  }
}