@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.table-scroll {
  @include scrollbar($pearl);
  height: calc(100% - 1vh - 61px);
  margin-top: calc(61px + 1vh);
  table {
    height: 100%;
    width: calc(100% - 1vh);
    border-collapse: collapse;
    thead {
      background-color: $black-050;
      color: $pearl;
      display: table;
      width: calc(100% - 1vh + 1px);
      th {
        padding: 20px;
        font-weight: normal;
        div {
          margin-right: calc(37px + 1vh);
        }
      }
    }
    tbody {
      border: 1px solid $dark-grey;
      tr {
        border-bottom: 1px solid black;
        td, th {
          a {
            display: block;
            padding: 10px;
            span {
              font-size: 14px;
            }
            .hs-icon {
              font-size: 20px;
            }
          }
        }
        .upvotes {
          a {
            span {
              background-color: $dark-grey;
              padding: 5px;
              font-size: 14px;
              color: $pearl;
            }

          }
        }
        .title {
          text-align: left;
        }
        .domain {
          color: $dark-grey;
          a {
            @include transition(all ease .4s);
          }
        }
      }
    }
    .upvotes, .comments, .domain {
      width: 10%;
    }
    .created {
      width: 15%;
    }
  }
}