@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.container__page.deck {

  .container__page--right {

    .topbar {
      .topbar__container {
        align-content: center;

        .created-details {
          display: grid;
          text-align: right;
          margin-right: 1vh;

          &.loading {
            height: 100%;
            width: 100%;
            box-shadow: none;
            @include linearLoader();
          }
        }
      }
    }

    .content {

      .container__details {

        .container__details--description {

          .section__header {

            h1.loading {
              max-width: 100%;
              height: 80%;
              width: 100%;
              @include linearLoader();
            }
          }

          .section__body {
            border:0;

            .section__body--options {
              position: relative;
              top: 1px;
              display: flex;
              justify-content: space-between;
              div {
                display: flex;
                align-content: center;
              }
            }

            .markup {
              border: 1px solid $dark-grey;
              height: calc(100% - 22px);
              overflow: auto;
            }

            .text-editor{
              height: calc(100% - 22px);
            }
          }
        }

        .container__details--comments {
          position: relative;
          .section__footer {
            padding: 2vh 1vh 0 1vh;
            border: 1px solid $dark-grey;
            .text-editor{
              height: calc(100% - 1vh);
            }
          }
        }
      }
    }
  }
}